{% extends 'base/base.html' %}
{% load static %}
{% load mathfilters %}

{% block head_tags %}
<link rel="canonical" href="{% url 'add_funds' %}" />
{% if title %}
<title>{{ title }}</title>
{% else %}
<title>Add Funds</title>
{% endif %}
{% endblock head_tags %}

{% block content %}
  <div class="page-container">
    {% include 'base/header.html' %}
    <main class="cabinet">
      <div class="container">
        <div class="grid-wrap">
          <div class="aside-wrapper">
            {% include 'account/nav.html' %}
          </div>
          <div class="content-wrapper">
            <section class="add-funsd-main">
              <div class="wrapper block-white">
                <h1 class="fz25 center">Deposit</h1>
                <div class="btns-wrap">
                  <button id="Paypal" class="js-toggle-deposit"><img class="invert" src="{% static '/img/btn-paypal.png' %}" alt=""></button>
                  <button id="CreditCard" class="js-toggle-deposit active"><img src="{% static '/img/btn-card.png' %}" alt=""></button>                </div>
                <div class="block-fund-input">
                  <input class="js-input-numeric add-funds-price" type="text" value="0$">
                </div>
                  <form method="post" id="create_invoice_calc_form" action="{% url 'create_invoice_calc' %}">
                    {% csrf_token %}
                    {{ create_invoice_form.payment_method.as_hidden }}
                    {{ create_invoice_form.cents.as_hidden }}
                  </form>
                <div class="btn-wrap"><a class="btn js-popup">Add Funds: 0$</a></div>


                <div class="bottom-text">Check price calculator <a class="link" href="{% url 'order' %}">here</a></div>
                <div class="table">
                  <div class="tr">
                    <div class="td"><b>Invoive ID</b></div>
                    <div class="td"><b>Payment Method</b></div>
                    <div class="td"><b>Description</b></div>
                    <div class="td"><b>Cost</b></div>
                    <div class="td"><b>Status</b></div>
                    <div class="td"><b>Created</b></div>
                    <div class="td"><b>Action</b></div>
                  </div>
                  {% for invoice in invoices %}
                  <div class="tr invoice-table">
                    <div class="td">{{ invoice.invoice_id }}</div>
                    <div class="td">{{ invoice.payment_method }}</div>
                    <div class="td">{{ invoice.description }}</div>
                    <div class="td">{{ invoice.cents|div:100 }}$</div>
                      {% if invoice.status == 'Paid' %}
                          <div class="td"><span class="c-green">{{ invoice.status }}</span></div>
                      {% else %}
                          <div class="td"><span class="c-orange">{{ invoice.status }}</span></div>
                      {% endif %}
                    <div class="td">{{ invoice.created_at|date:'d.m.Y' }}</div>
                    <div class="td"><a class="js-popup open-invoice-btn" href="#popup-invoice-awaiting">View</a></div>
                  </div>
                  {% endfor %}
                </div>
                <div class="pagination-wrap">
                  <ul>
                    {% if page_obj.has_previous %}
                      <li><a href="/add_funds/?page={{ page_obj.previous_page_number }}">
                          <svg viewBox="0 0 16 16" width="16px">
                            <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-left"></use>
                          </svg></a></li>
                    {% endif %}
                    {% if page_obj.number|sub:1 == 0 %}
                      {% if page_obj.number <= page_obj.paginator.num_pages %}
                        <li>
                          <span>{{ page_obj.number }}</span>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:1 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:1 }}">2</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:2 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:2 }}">3</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:3 }}">4</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:9 <= page_obj.paginator.num_pages %}
                        <li>
                          <span class="gray">...</span>
                        </li>
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:9 }}">10</a>
                        </li>
                      {% endif %}
                    {% elif page_obj.number|sub:1|mod:4 == 0 %}
                      {% if page_obj.number <= page_obj.paginator.num_pages %}
                        <li>
                          <span>{{ page_obj.number }}</span>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:1 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:2 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:2 }}">{{ page_obj.number|add:2 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:3 }}">{{ page_obj.number|add:3 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:9 <= page_obj.paginator.num_pages %}
                        <li>
                          <span class="gray">...</span>
                        </li>
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:9 }}">{{ page_obj.number|add:9 }}</a>
                        </li>
                      {% endif %}
                    {% elif page_obj.number|mod:2 == 0 and page_obj.number|mod:4 %}
                      {% if page_obj.number|sub:1 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|sub:1 }}">{{ page_obj.number|sub:1 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number <= page_obj.paginator.num_pages %}
                        <li>
                          <span>{{ page_obj.number }}</span>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:1 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:2 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:2 }}">{{ page_obj.number|add:2 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:8 <= page_obj.paginator.num_pages %}
                        <li>
                          <span class="gray">...</span>
                        </li>
                        <li>
                          <a href="/?page={{ page_obj.number|add:8 }}">{{ page_obj.number|add:8 }}</a>
                        </li>
                      {% endif %}
                    {% elif page_obj.number|mod:4 == 0 %}
                      {% if page_obj.number|sub:3 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|sub:3 }}">{{ page_obj.number|sub:3 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|sub:2 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|sub:2 }}">{{ page_obj.number|sub:2 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|sub:1 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|sub:1 }}">{{ page_obj.number|sub:1 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number <= page_obj.paginator.num_pages %}
                        <li>
                          <span>{{ page_obj.number }}</span>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:6 <= page_obj.paginator.num_pages %}
                        <li>
                          <span class="gray">...</span>
                        </li>
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:6 }}">{{ page_obj.number|add:6 }}</a>
                        </li>
                      {% endif %}
                    {% else %}
                      {% if page_obj.number|sub:2 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|sub:2 }}">{{ page_obj.number|sub:2 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|sub:1 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|sub:1 }}">{{ page_obj.number|sub:1 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number <= page_obj.paginator.num_pages %}
                        <li>
                          <span>{{ page_obj.number }}</span>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:1 <= page_obj.paginator.num_pages %}
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a>
                        </li>
                      {% endif %}
                      {% if page_obj.number|add:7 <= page_obj.paginator.num_pages %}
                        <li>
                          <span class="gray">...</span>
                        </li>
                        <li>
                          <a href="/add_funds/?page={{ page_obj.number|add:7 }}">{{ page_obj.number|add:7 }}</a>
                        </li>
                      {% endif %}
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="/add_funds/?page={{ page_obj.next_page_number }}">
                        <svg viewBox="0 0 16 16" width="16px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"></use>
                        </svg></a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <div class="container">
      <footer class="footer-main cabinet">
        {% include 'base/footer.html' %}
      </footer>
      {% include 'popup/accept-cookies.html' %}
      {% include 'popup/arrow-up.html' %}
    </div>
  </div>
  {% include 'popup/instagram.html' %}
  {% include 'popup/discord.html' %}
  {% include 'popup/telegram.html' %}
  {% include 'popup/twitter.html' %}
  {% include 'popup/login.html' %}
  {% include 'popup/signup.html' %}
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p><p>{{ request.user.email }} {{ request.user.username }}</p></p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td" id="invoice-id">DM-222</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td"></div>
      </div>
      <div class="tr">
        <div class="td" ><b>Total</b></div>
        <div class="td" id="total-invoice"></div>
      </div>
    </div>

    <div class="btn-wrap" id="deposit-credit-card-btn"><a class="btn" id="add-funds-btn" href="#">DEPOSIT</a></div>
    <div id="paypal-button-container"></div>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        function getTotalPrice(){

        }

        paypal.Buttons({
            // Set up the transaction
            createOrder: (data, actions) => {

                let totalPrice = document.getElementById("total-invoice").innerText.slice(0, -1)
                let invoiceId = document.getElementById("invoice-id").innerText
                return actions.order.create({
                    purchase_units: [{
                        invoice_id: invoiceId,
                        reference_id: {{ user.pk }},
                        description: "Social Media Marketing program",
                        amount: {
                            value: totalPrice
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: (data, actions) => {
                return actions.order.capture().then((orderData) => {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    console.log("transaction", transaction.id)
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }
        }).render('#paypal-button-container');
        document.getElementById('paypal-button-container').style.display = 'none'
        document.getElementById('deposit-credit-card-btn').style.display = 'none'
    </script>
  </div>
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>{{ request.user.email }} {{ request.user.username }}</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-green">PAID</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td add-funds-price"></div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td add-funds-price"></div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static '/js/js/stripe.js' %}"></script>
  <script src="{% static '/js/js/paypal.js' %}"></script>
  <script src="{% static '/js/js/add-funds.js' %}"></script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "DMSbulk",
          "item": "/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "DMSbulk add funds",
          "item": "{{ request.get_host }}{% url 'add_funds' %}"
        }
      ]
    }
  </script>
{% endblock scripts %}