{% load static %}
{% load mathfilters %}
<header class="header-main">
  <div class="container">
    <div class="grid cabinet">
      <div class="logo-wrap">
        <a href="{% url 'home' %}">
          <img src="{% static '/img/logo.svg' %}" alt=""/>
        </a>
      </div>
      <div class="balance-wrap">
        <div class="item">
          <img src="{% static '/img/ic-coin-dm.png' %}" alt="" />
          {{ request.user.dms_tokens }}
        </div>
        <div class="item">
          <img src="{% static '/img/ic-coin-usd.svg' %}" alt="" />
          {% if request.user.cents %}
            {{ request.user.cents|div:100 }}$
          {% else %}
            0$
          {% endif %}
        </div>
      </div>
      <div class="user-wrap">
        <div class="name">Hi, {{ request.user.username }}!</div>
        <button class="js-user-info">
            {% if user.is_active_order %}
                <div class="ava-wrap notify order-active">
            {% else %}
                 <div class="ava-wrap notify">
            {% endif %}

            <img src="{% static '/img' %}/chart-user-{{ request.user.avatar_image_id }}.png" alt="" />
          </div>
        </button>
        <div class="popup-wrap">
          <div class="user-info">
               {% if user.is_active_order %}
                <div class="ava-wrap notify order-active">
            {% else %}
                 <div class="ava-wrap notify">
            {% endif %}

            <img src="{% static '/img' %}/chart-user-{{ request.user.avatar_image_id }}.png" alt="" />
            </div>
            <p>{{ request.user.username }}</p>
          </div>
          <ul class="block-nav-items">
            <li>
              <a href="{% url 'dashboard' %}">
                <svg viewBox="0 0 24 24" width="24px">
                  <use
                    xlink:href="{% static '/img/sprite.svg' %}#ic-user"
                  ></use></svg
                >Profile</a
              >
            </li>
            {% comment %} <li class="notify">
              <a href="#">
                <svg viewBox="0 0 24 24" width="24px">
                  <use
                    xlink:href="{% static '/img/sprite.svg#ic-notify' %}"
                  ></use></svg
                >Notification</a
              >
            </li> {% endcomment %}
            <li>
              <form method="post" action="{% url 'dashboard' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="logout_form" />
                <button type="submit">
                  <svg viewBox="0 0 24 24" width="24px">
                    <use
                      xlink:href="{% static '/img/sprite.svg' %}#ic-logout"
                    ></use></svg
                  >Logout
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-wrap">
        <div class="balance-wrap mob">
          <div class="item">
            <img src="{% static '/img/ic-coin-dm.png' %}" alt="" />10
          </div>
          <div class="item">
            <img src="{% static '/img/ic-coin-usd.svg' %}" alt="" />100$
          </div>
        </div>
        <ul class="block-nav-items">
          <li>
            <a class="active" href="{% url 'dashboard' %}">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-dashboard"
                ></use></svg
              >Dashboard</a
            >
          </li>
          <li>
            <button class="js-toggle-inner">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-message"
                ></use></svg
              >Order DM’s
              <div class="arrow">
                <svg viewBox="0 0 20 20" width="20px">
                  <use
                    xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"
                  ></use>
                </svg>
              </div>
            </button>
            <ul class="inner">
              <li><a href="{% url 'order' %}">Order</a></li>
              <li><a href="{% url 'order_active' %}">Active Orders</a></li>
              <li><a href="{% url 'order_history' %}">History</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'add_funds' %}">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-pricing"
                ></use></svg
              >Add funds</a
            >
          </li>
          <li>
            <a href="{% url 'loyalty_program' %}">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-loyalty"
                ></use></svg
              >Loyalty Program</a
            >
          </li>
          <li>
            <a href="{% url 'faq' %}">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-faq"
                ></use></svg
              >FAQ</a
            >
          </li>
          <li>
            <a href="{% url 'settings' %}">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-settings"
                ></use></svg
              >Settings</a
            >
          </li>
        </ul>
        <div class="btns-wrapper">
          <a class="btn btn--inst btn--small w100" href="#" target="_blank">
            <svg viewBox="0 0 20 20" width="20px">
              <use
                xlink:href="{% static '/img/sprite.svg' %}#ic-inst"
              ></use></svg
            >Instagram</a
          ><a
            class="btn btn--tg-channel btn--small w100"
            href="#"
            target="_blank"
          >
            <svg viewBox="0 0 20 20" width="20px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use></svg
            >Support Team</a
          ><a class="btn btn--tg-chat btn--small w100" href="#" target="_blank">
            <svg viewBox="0 0 20 20" width="20px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use></svg
            >News Channel</a
          >
        </div>
      </div>
      <button class="menu-btn js-toggle-menu">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>
</header>
