{% load static %}
<header class="header-main">
  <div class="container">
    <div class="grid cabinet">
      <div class="logo-wrap">
        <a href="{% url 'home' %}"
          ><img src="{% static '/img/logo.svg' %}" alt=""
        /></a>
      </div>
      <div class="balance-wrap">
        <div class="item">
          <img src="{% static '/img/ic-coin-dm.png' %}" alt="" />10
        </div>
        <div class="item">
          <img src="{% static '/img/ic-coin-usd.svg' %}" alt="" />100$
        </div>
      </div>
      <div class="user-wrap">
        <div class="name">Hi, {{ request.user.username }}!</div>
        <button class="js-user-info">
          <div class="ava-wrap notify">
            <img src="{% static '/img/avatar.png' %}" alt="" />
          </div>
        </button>
        <div class="popup-wrap">
          <div class="user-info">
            <div class="ava-wrap notify">
              <img src="{% static '/img/avatar.png' %}" alt="" />
            </div>
            <p>{{ request.user.username }}</p>
          </div>
          <ul class="block-nav-items">
            <li>
              <a href="{% url 'dashboard' %}">
                <svg viewBox="0 0 24 24" width="24px">
                  <use
                    xlink:href="{% static '/img/sprite.svg#ic-user' %}"
                  ></use></svg
                >Profile</a
              >
            </li>
            {% comment %} <li class="notify">
              <a href="#">
                <svg viewBox="0 0 24 24" width="24px">
                  <use
                    xlink:href="{% static '/img/sprite.svg#ic-notify' %}"
                  ></use></svg
                >Notification</a
              >
            </li> {% endcomment %}
            <li>
              <form method="post" action="{% url 'dashboard' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="logout_form" />
                <button type="submit">
                  <svg viewBox="0 0 24 24" width="24px">
                    <use
                      xlink:href="{% static '/img/sprite.svg#ic-logout' %}"
                    ></use></svg
                  >Logout
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-wrap">
        <div class="balance-wrap mob">
          <div class="item">
            <img src="{% static '/img/ic-coin-dm.png' %}" alt="" />10
          </div>
          <div class="item">
            <img src="{% static '/img/ic-coin-usd.svg' %}" alt="" />100$
          </div>
        </div>
        <ul class="block-nav-items">
          <li>
            <a class="active" href="./dashboard.html">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-dashboard"
                ></use></svg
              >Dashboard</a
            >
          </li>
          <li>
            <button class="js-toggle-inner">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-message"
                ></use></svg
              >Order DM’s
              <div class="arrow">
                <svg viewBox="0 0 20 20" width="20px">
                  <use
                    xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"
                  ></use>
                </svg>
              </div>
            </button>
            <ul class="inner">
              <li><a href="./order-dms.html">Order</a></li>
              <li><a href="./order-active.html">Active Orders</a></li>
              <li><a href="./order-history.html">History</a></li>
            </ul>
          </li>
          <li>
            <a href="./add-funds.html">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-pricing"
                ></use></svg
              >Add funds</a
            >
          </li>
          <li>
            <a href="./loyalty-program.html">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-loyalty"
                ></use></svg
              >Loyalty Program</a
            >
          </li>
          <li>
            <a href="./faq.html">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-faq"
                ></use></svg
              >FAQ</a
            >
          </li>
          <li>
            <a href="./settings.html">
              <svg viewBox="0 0 20 20" width="20px">
                <use
                  xlink:href="{% static '/img/sprite.svg' %}#ic-settings"
                ></use></svg
              >Settings</a
            >
          </li>
        </ul>
        <div class="btns-wrapper">
          <a class="btn btn--inst btn--small w100" href="#" target="_blank">
            <svg viewBox="0 0 20 20" width="20px">
              <use
                xlink:href="{% static '/img/sprite.svg' %}#ic-inst"
              ></use></svg
            >Instagram</a
          ><a
            class="btn btn--tg-channel btn--small w100"
            href="#"
            target="_blank"
          >
            <svg viewBox="0 0 20 20" width="20px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use></svg
            >Support Team</a
          ><a class="btn btn--tg-chat btn--small w100" href="#" target="_blank">
            <svg viewBox="0 0 20 20" width="20px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use></svg
            >News Channel</a
          >
        </div>
      </div>
      <button class="menu-btn js-toggle-menu">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>
</header>
