{% load static %}
<nav class="nav-wrap">
    <ul class="block-nav-items">
      <li><a {% if page == 'dashboard' %} class="active" {% endif %} href="{% url 'dashboard' %}">
          <svg viewBox="0 0 20 20" width="20px">
            <use xlink:href="{% static '/img/sprite.svg' %}#ic-dashboard"></use>
          </svg>Dashboard</a></li>
      <li>
        <button id="order_dms_button" class="js-toggle-inner">
          <svg viewBox="0 0 20 20" width="20px">
            <use xlink:href="{% static '/img/sprite.svg' %}#ic-message"></use>
          </svg>Order DM’s
          <div class="arrow">
            <svg viewBox="0 0 20 20" width="20px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"></use>
            </svg>
          </div>
        </button>
        <ul class="inner">
          <li><a {% if page == 'order' %} class="active" {% endif %} href="{% url 'order' %}">Order</a></li>
          <li><a {% if page == 'order_active' %} class="active" {% endif %} href="{% url 'order_active' %}">Active Orders</a></li>
          <li><a {% if page == 'order_history' %} class="active" {% endif %} href="{% url 'order_history' %}">History</a></li>
        </ul>
      </li>
      <li><a {% if page == 'add_funds' %} class="active" {% endif %} href="./add-funds.html">
          <svg viewBox="0 0 20 20" width="20px">
            <use xlink:href="{% static '/img/sprite.svg' %}#ic-pricing"></use>
          </svg>Add funds</a></li>
      <li><a {% if page == 'loyalty_program' %} class="active" {% endif %} href="{% url 'loyalty_program' %}">
          <svg viewBox="0 0 20 20" width="20px">
            <use xlink:href="{% static '/img/sprite.svg' %}#ic-loyalty"></use>
          </svg>Loyalty Program</a></li>
      <li><a href="{% url 'faq' %}">
          <svg viewBox="0 0 20 20" width="20px">
            <use xlink:href="{% static '/img/sprite.svg' %}#ic-faq"></use>
          </svg>FAQ</a></li>
      <li><a {% if page == 'settings' %} class="active" {% endif %} href="{% url 'settings' %}">
          <svg viewBox="0 0 20 20" width="20px">
            <use xlink:href="{% static '/img/sprite.svg' %}#ic-settings"></use>
          </svg>Settings</a></li>
    </ul>
    <div class="social-wrap"><a class="btn btn--inst btn--small w100" href="#" target="_blank">
        <svg viewBox="0 0 20 20" width="20px">
          <use xlink:href="{% static '/img/sprite.svg' %}#ic-inst"></use>
        </svg>Instagram</a><a class="btn btn--tg-channel btn--small w100" href="#" target="_blank">
        <svg viewBox="0 0 20 20" width="20px">
          <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use>
        </svg>Support Team</a><a class="btn btn--tg-chat btn--small w100" href="#" target="_blank">
        <svg viewBox="0 0 20 20" width="20px">
          <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use>
        </svg>News Channel</a></div>
        {% if 'order' in page %}
          <script type="text/javascript">
            const onDocumentLoaded = (event) => document.getElementById('order_dms_button').click()
            window.addEventListener('load', onDocumentLoaded, false)
          </script>
        {% endif %}
</nav>