{% extends 'base/base.html' %}
{% load static %}

{% block head_tags %}
{% if title %}
<title>{{ title }}</title>
{% else %}
<title>Contacts</title>
{% endif %}
{% endblock head_tags %}

{% block text %}
            <section class="contacts-links">
<h1 class="inner center">Contacts</h1>
<div class="items"><a class="item" href="mailto:dmsbulkteam@gmail.com" target="_blank">
    <div class="ic-wrap">
      <svg viewBox="0 0 46 46" width="46px">
        <use xlink:href="{% static 'img/sprite.svg' %}#ic-gmail"></use>
      </svg>
    </div>
    <div class="text-wrap">
      <h3>Gmail</h3>
      <p>dmsbulkteam@gmail.com</p>
    </div></a><a class="item" href="https://instagram.com/dmsbulk" target="_blank">
    <div class="ic-wrap">
      <svg viewBox="0 0 46 46" width="46px">
        <use xlink:href="{% static 'img/sprite.svg' %}#ic-inst"></use>
      </svg>
    </div>
    <div class="text-wrap">
      <h3>Instagram</h3>
      <p>instagram.com/dmsbulk</p>
    </div></a><a class="item" href="https://t.me/dmsbulk" target="_blank">
    <div class="ic-wrap">
      <svg viewBox="0 0 46 46" width="46px">
        <use xlink:href="{% static 'img/sprite.svg' %}#ic-tg"></use>
      </svg>
    </div>
    <div class="text-wrap">
      <h3>Telegram</h3>
      <p>t.me/dmsbulk</p>
    </div></a></div>
</section>
{% endblock text %}

{% block scripts %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "DMSbulk",
        "item": "/"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "DMSbulk contacts",
        "item": "{{ request.get_host }}{% url 'contacts' %}"
      }
    ]
  }
</script>
{% endblock scripts %}