{% extends 'base/base.html' %}
{% load static %}

{% block head_tags %}
  <title>FAQ</title>
{% endblock head_tags %}

{% block content %}
  <div class="page-container">
    {% include 'base/header.html' %}
    <main class="default">
      <div class="container">
        <div class="grid-wrap">
          <div class="aside-wrapper">
            {% include 'home/nav.html' %}
          </div>
          <div class="content-wrapper">
                  <section class="contacts-links">
      <h1 class="inner center">Contacts</h1>
      <div class="items"><a class="item" href="mailto:dmsbulkteam@gmail.com" target="_blank">
          <div class="ic-wrap">
            <svg viewBox="0 0 46 46" width="46px">
              <use xlink:href="{% static 'img/sprite.svg' %}#ic-gmail"></use>
            </svg>
          </div>
          <div class="text-wrap">
            <h3>Gmail</h3>
            <p>dmsbulkteam@gmail.com</p>
          </div></a><a class="item" href="https://instagram.com/dmsbulk" target="_blank">
          <div class="ic-wrap">
            <svg viewBox="0 0 46 46" width="46px">
              <use xlink:href="{% static 'img/sprite.svg' %}#ic-inst"></use>
            </svg>
          </div>
          <div class="text-wrap">
            <h3>Instagram</h3>
            <p>instagram.com/dmsbulk</p>
          </div></a><a class="item" href="https://t.me/dmsbulk" target="_blank">
          <div class="ic-wrap">
            <svg viewBox="0 0 46 46" width="46px">
              <use xlink:href="{% static 'img/sprite.svg' %}#ic-tg"></use>
            </svg>
          </div>
          <div class="text-wrap">
            <h3>Telegram</h3>
            <p>t.me/dmsbulk</p>
          </div></a></div>
    </section>

            <footer class="footer-main">
              {% include 'base/footer.html' %}
            </footer>
            {% include 'popup/accept-cookies.html' %}
          </div>
        </div>
      </div>
    </main>
    <div class="container">
    </div>
  </div>
  {% include 'popup/instagram.html' %}
  {% include 'popup/discord.html' %}
  {% include 'popup/telegram.html' %}
  {% include 'popup/twitter.html' %}
  {% include 'popup/login.html' %}
  {% include 'popup/signup.html' %}
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">DEPOSIT</a></div>
  </div>
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-green">PAID</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
  </div>
{% endblock content %}