{% extends '../base/base.html' %}
{% load static %}

{% block head_tags %}
  <title>Cookies Policy</title>
{% endblock head_tags %}

{% block content %}
  <div class="page-container">
    {% include './header.html' %}
    <main class="default">
      <div class="container">
        <div class="grid-wrap">
          <div class="aside-wrapper">
            {% include './nav.html' %}
          </div>
          <div class="content-wrapper">
            <section class="section-text">
              <h1 class="inner center">Cookies Policy</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum tenetur ducimus quo ab officiis quaerat corporis possimus eveniet laboriosam magni molestiae assumenda fugit, similique rem temporibus nostrum, cupiditate cum odio. Temporibus sint earum quidem minima veniam expedita asperiores, at molestiae sapiente sunt nisi consequuntur et officia! Quam laborum totam nostrum perspiciatis aperiam libero fugit delectus ab, at laboriosam quidem iure necessitatibus expedita quis. Saepe porro eius sunt repellat natus, consectetur veniam quibusdam quas quos illum, amet a fuga pariatur maiores enim sed odio impedit distinctio! Incidunt quas officia, dignissimos magni, sequi, iure quasi cupiditate dolorem suscipit illo veniam facere eius!</p><br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil vero debitis tempore necessitatibus repudiandae expedita quis earum, neque accusamus, aut corrupti unde iure voluptas, fugiat voluptate dolores! Corporis aliquam ullam illum, perferendis quaerat voluptas recusandae aliquid, ab eos molestias vero? Quibusdam veniam repellat ipsa eaque ratione consectetur reiciendis, autem suscipit facere eos ullam fugit voluptate dicta reprehenderit recusandae odio expedita vel cum quo nisi ea. Beatae at libero distinctio nostrum sit ratione possimus nesciunt excepturi facere veritatis. Voluptas quisquam error numquam cumque. <a class="link" href="#">Quas obcaecati quibusdam</a>, error maiores iure itaque! Distinctio molestias vero sapiente temporibus quod commodi voluptas! Ex dignissimos consequatur culpa explicabo voluptatum.</p><br>
              <p>Distinctio est maxime iusto aperiam veniam unde, totam quibusdam minus hic recusandae neque a, quam consequatur sequi placeat magni libero autem corporis nam quas ipsam quis. Dolore, unde est? Fuga ipsam consequatur culpa officia expedita nesciunt quas possimus inventore delectus optio quia rerum perspiciatis quidem, eum magnam! Praesentium voluptatum dolorem aut tempora, libero, sequi dolor voluptatibus necessitatibus eos sed accusamus aperiam molestiae voluptate hic aliquid! Maiores dolores amet, mollitia libero repellendus illo itaque quae fugit corrupti architecto, dicta qui! Sapiente amet tenetur eos neque expedita in quis odio sunt aspernatur accusamus. Veritatis soluta necessitatibus eveniet itaque sed.</p><br>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, recusandae!</p>
              <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem consectetur adipisicing elit. Magni, perspiciatis?</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Ll sit amet.</li>
              </ul><br>
              <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, odit est harum natus eveniet blanditiis unde quis tenetur ipsam libero qui vitae quia facere mollitia fuga! Perferendis, eum eveniet.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, odit est harum natus eveniet blanditiis unde quis tenetur ipsam libero qui vitae quia facere mollitia fuga! Perferendis, eum eveniet.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, odit est harum natus eveniet blanditiis unde quis tenetur ipsam libero qui vitae quia facere mollitia fuga! Perferendis, eum eveniet.</li>
              </ol>
            </section>
            {% include './footer.html' %}
            {% include '../base/popup-cookies.html' %}
          </div>
        </div>
      </div>
    </main>
    <div class="container">
    </div>
  </div>
  <div class="mfp-hide popup popup--social" id="popup-instagram">
    <h2>Instagram</h2>
    <p>Organic Instagram Growth, Driving Targeted Traffic to your page or specific post in the DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
    <p>As we provide high quality service, before mass DM we use auditory filtration – means that we maximally filter out inactive and bot accounts, using filtration by avatar, followers amount, amount of posts, latest activity of account and by language used in bio or name. </p><br/>
    <p>You do not need to use your account, all messages are sended using our HQ blank accounts.</p><br/>
    <p>All messages goes with Notifications in general requests:</p><br/>
    <div class="img-wrap"><img src="./img/popup-inst-1.jpg" alt=""/></div><br/>
    <p>Possibility to attach profile link, post or direct link to site:</p><br/>
    <div class="img-wrap col-2"><img src="./img/popup-inst-2.jpg" alt=""/><img src="./img/popup-inst-3.jpg" alt=""/><img src="./img/popup-inst-4.jpg" alt=""/></div>
  </div>
  <div class="mfp-hide popup popup--social" id="popup-discord">
    <h2>Discord</h2>
    <p>Discord mass spam is the perfect way to grow servers and communities with only organic and healthy traffic. There are a lot of users who are interested in NFT/Metawerse products and we can easily attract them to your product. </p><br/>
    <p>We can provide mass dms to only active and online users from other servers. I want to note that in Discord there is no filtering,  but in another case there are 1000x less bots than in other social media.</p><br/>
    <p>All our accounts will have avatars, in a message we will attach your server or if you also want an image or gif.</p><br/>
    <p>You can use your targets/servers chosen for scrape</p><br/>
    <div class="img-wrap"><img src="./img/popup-d-1.jpg" alt=""/></div>
  </div>
  <div class="mfp-hide popup popup--social" id="popup-telegram">
    <h2>Telegram</h2>
    <p>Organic Telegram Growth, Driving Targeted Traffic to your groups, channels or directly to site using mass DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
    <p>Provide telegram mass messaging, scrape. Scrape works from any groups - public. We can send traffic to a group, channel or direct site.</p><br/>
    <p>Each message goes with notifications & using our limits and HQ accounts, messages will be seen all time while the user does not block messages. </p><br/>
    <div class="img-wrap"><img src="./img/popup-tg-1.jpg" alt=""/></div>
  </div>
  <div class="mfp-hide popup popup--social" id="popup-twitter">
    <h2>Twitter </h2>
    <p>Organic Twitter Growth, Driving Targeted Traffic to your Twitter Profile or directly to site using mass DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
    <p>Messages go to general requests with or without notification depending on receiver notification settings. Scrape works using your competitors their last followers. </p><br/>
    <p>Our messages come with avatars on profiles and attached link or profile.</p><br/>
    <div class="img-wrap"><img src="./img/popup-tw-1.jpg" alt=""/></div>
  </div>
  {% include './login.html' %}
  {% include './signup.html' %}
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="./img/logo.svg" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">DEPOSIT</a></div>
  </div>
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="./img/logo.svg" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-green">PAID</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
  </div>
{% endblock content %}