{% extends '../base/base.html' %}
{% load static %}

{% block head_tags %}
  <title>FAQ</title>
{% endblock head_tags %}

{% block content %}
  <div class="page-container">
    {% include './header.html' %}
    <main class="default">
      <div class="container">
        <div class="grid-wrap">
          <div class="aside-wrapper">
            {% include './nav.html' %}
          </div>
          <div class="content-wrapper">
            <section class="faq-text">
              <h1 class="inner center">How it works?</h1>
              <p>Let's send your message to everyone with DMSBULK mass direct message service</p>
              <p>Mass Direct Messaging is an incredibly effective way for Account Growth / Driving Targeted Traffic / Promoting Products / Generating Leads / Increase activity and engagement. DMSBULK Auto-DM software is designed by performance marketers who need to promote products at scale on Instagram, Twitter, Telegram and Discord. Mass Direct messages help you increase brand awareness and improve engagement while saving your precious time. Employ auto-dm service to level up your social media growth game and get more sales effortlessly.</p><br>
              <p>First of all you should register an account in our site. After that you will have access to your dashboard where you will be available to order Bulk DMs in Instagram, Telegra, Twitter and Discord. For each campaign you should provide information depending on social media: Message which we will send, Targets/Competitors from which we will scrape auditory, amount of dms and filtering options what you prefer. After order you will see in dashboard progress tab of campaign: </p>
              <p>Scraping auditory</p>
              <p>Filtering</p>
              <p>Starting sending</p>
              <p>Messages send</p>
              <p>After messages done you will be able to download proof of screen-shot</p><br>
              <p>Mass direct message will not affect your account it will remain SAFE always, we do not use your account for mass direct message sending. We won’t even ask you for a login or password for your account! All mass direct messages in each social media will be sent by our network of accounts.</p>
            </section>
            <section class="faq-list">
              <h2 class="center">FAQ</h2>
              <div class="subtitle line">You've got questions and dmsbulk.com has the answers! <br>Everything you're probably wondering in our FAQ below - and if there's still something on your mind, reach out to our support team to make sure all your questions can be answered.</div>
              <div class="items">
                <div class="item">
                  <h3 class="title js-accordione">How fast DMs can be sent out in Each of Social Media?
                    <svg viewBox="0 0 20 20" width="20px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"></use>
                    </svg>
                  </h3>
                  <div class="text-wrap">
                    <p>dmsbulk.com guarantees that your order will be done from 24 hours maximum up to 72 hours. Its fully depends on demand and order queue. 72 hours could take only huge bulk orders. More than 1m DMs because of prepare time, but usually order is done much faster</p>
                  </div>
                </div>
                <div class="item">
                  <h3 class="title js-accordione">How fast leads will come?
                    <svg viewBox="0 0 20 20" width="20px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"></use>
                    </svg>
                  </h3>
                  <div class="text-wrap">
                    <p>Leads is fully depends how you convert traffic and your chosen targets quality, we guarantee that all messages will be send properly: All amount, each message with push notification. So as we cannot control when someone opens their Direct Message in: Instagram, Twitter, Telegram or Discord, we say to expect that main traffic will come in first 24h</p>
                  </div>
                </div>
                <div class="item">
                  <h3 class="title js-accordione">Can my account be blocked after Mass DM?
                    <svg viewBox="0 0 20 20" width="20px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"></use>
                    </svg>
                  </h3>
                  <div class="text-wrap">
                    <p>No, it will not be blocked, we are using our accounts to send messages. We take care about our clients safety</p>
                  </div>
                </div>
                <div class="item">
                  <h3 class="title js-accordione">Do you have discounts on big volumes?
                    <svg viewBox="0 0 20 20" width="20px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"></use>
                    </svg>
                  </h3>
                  <div class="text-wrap">
                    <p>If you are ordering from us more then 1-5m DMS in week (depends on social media) we can offer special price with discount code</p>
                  </div>
                </div>
                <div class="item">
                  <h3 class="title js-accordione">How i will know that all messages are send?
                    <svg viewBox="0 0 20 20" width="20px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"></use>
                    </svg>
                  </h3>
                  <div class="text-wrap">
                    <p>Firstly you will see in your dashboard process of campaign and monitor how messages sending in live by progress tab and after messages done you will be able to download screenshot of software.</p>
                  </div>
                </div>
              </div>
            </section>
            {% include './footer.html' %}
            {% include '../base/popup-cookies.html' %}
          </div>
        </div>
      </div>
    </main>
    <div class="container">
    </div>
  </div>
  <div class="mfp-hide popup popup--social" id="popup-instagram">
    <h2>Instagram</h2>
    <p>Organic Instagram Growth, Driving Targeted Traffic to your page or specific post in the DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
    <p>As we provide high quality service, before mass DM we use auditory filtration – means that we maximally filter out inactive and bot accounts, using filtration by avatar, followers amount, amount of posts, latest activity of account and by language used in bio or name. </p><br/>
    <p>You do not need to use your account, all messages are sended using our HQ blank accounts.</p><br/>
    <p>All messages goes with Notifications in general requests:</p><br/>
    <div class="img-wrap"><img src="{% static 'img/popup-inst-1.jpg' %}" alt=""/></div><br/>
    <p>Possibility to attach profile link, post or direct link to site:</p><br/>
    <div class="img-wrap col-2"><img src="{% static '/img/popup-inst-2.jpg' %}" alt=""/><img src="{% static '/img/popup-inst-3.jpg' %}" alt=""/><img src="{% static '/img/popup-inst-4.jpg' %}" alt=""/></div>
  </div>
  <div class="mfp-hide popup popup--social" id="popup-discord">
    <h2>Discord</h2>
    <p>Discord mass spam is the perfect way to grow servers and communities with only organic and healthy traffic. There are a lot of users who are interested in NFT/Metawerse products and we can easily attract them to your product. </p><br/>
    <p>We can provide mass dms to only active and online users from other servers. I want to note that in Discord there is no filtering,  but in another case there are 1000x less bots than in other social media.</p><br/>
    <p>All our accounts will have avatars, in a message we will attach your server or if you also want an image or gif.</p><br/>
    <p>You can use your targets/servers chosen for scrape</p><br/>
    <div class="img-wrap"><img src="{% static '/img/popup-d-1.jpg' %}" alt=""/></div>
  </div>
  <div class="mfp-hide popup popup--social" id="popup-telegram">
    <h2>Telegram</h2>
    <p>Organic Telegram Growth, Driving Targeted Traffic to your groups, channels or directly to site using mass DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
    <p>Provide telegram mass messaging, scrape. Scrape works from any groups - public. We can send traffic to a group, channel or direct site.</p><br/>
    <p>Each message goes with notifications & using our limits and HQ accounts, messages will be seen all time while the user does not block messages. </p><br/>
    <div class="img-wrap"><img src="{% static '/img/popup-tg' %}-1.jpg" alt=""/></div>
  </div>
  <div class="mfp-hide popup popup--social" id="popup-twitter">
    <h2>Twitter </h2>
    <p>Organic Twitter Growth, Driving Targeted Traffic to your Twitter Profile or directly to site using mass DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
    <p>Messages go to general requests with or without notification depending on receiver notification settings. Scrape works using your competitors their last followers. </p><br/>
    <p>Our messages come with avatars on profiles and attached link or profile.</p><br/>
    <div class="img-wrap"><img src="{% static '/img/popup-tw' %}-1.jpg" alt=""/></div>
  </div>
  <div class="mfp-hide popup popup--login" id="popup-login">
    <div class="popup-form-wrap">
      <form action="#">
        <h3 class="center">Login</h3>
        <div class="input-wrap mb">
          <input class="has-ic" type="email" placeholder="Email" required="required"/>
          <div class="ic">
            <svg viewBox="0 0 20 20" width="20px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-email"></use>
            </svg>
          </div>
        </div>
        <div class="input-wrap">
          <input class="has-ic" type="password" placeholder="Password" required="required"/>
          <div class="ic">
            <svg viewBox="0 0 20 20" width="20px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-password"></use>
            </svg>
          </div>
          <button class="password-hidden js-toggle-password" type="button">
            <svg viewBox="0 0 20 20" width="20px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-eye-open"></use>
            </svg>
            <svg viewBox="0 0 20 20" width="20px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-eye-close"></use>
            </svg>
          </button>
        </div>
        <div class="checkbox-wrapper">
          <label class="block-checkbox">
            <input type="checkbox" required="required"/>
            <div class="checkbox">
              <svg viewBox="0 0 12 12" width="12px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
              </svg>
            </div>
            <p>Remember me</p>
          </label>
          <div class="link-wrap"><a href="#">Forgot password?</a></div>
        </div>
        <div class="btn-wrap">
          <button class="btn btn--accent">Sign In</button>
        </div>
      </form>
    </div>
  </div>
  <div class="mfp-hide popup popup--login sign-up" id="popup-sign-up">
    <div class="grid">
      <div class="popup-form-wrap">
        <form action="#">
          <h3 class="center">Hello, Friend!</h3>
          <div class="input-wrap mb">
            <input class="has-ic" type="text" placeholder="Name" required="required"/>
            <div class="ic">
              <svg viewBox="0 0 20 20" width="20px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-user"></use>
              </svg>
            </div>
          </div>
          <div class="input-wrap mb">
            <input class="has-ic" type="email" placeholder="Email" required="required"/>
            <div class="ic">
              <svg viewBox="0 0 20 20" width="20px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-email"></use>
              </svg>
            </div>
          </div>
          <div class="input-wrap">
            <input class="has-ic" type="password" placeholder="Password" required="required"/>
            <div class="ic">
              <svg viewBox="0 0 20 20" width="20px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-password"></use>
              </svg>
            </div>
            <button class="password-hidden js-toggle-password" type="button">
              <svg viewBox="0 0 20 20" width="20px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-eye-open"></use>
              </svg>
              <svg viewBox="0 0 20 20" width="20px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-eye-close"></use>
              </svg>
            </button>
          </div>
          <div class="checkbox-wrapper">
            <label class="block-checkbox">
              <input type="checkbox" required="required"/>
              <div class="checkbox">
                <svg viewBox="0 0 12 12" width="12px">
                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                </svg>
              </div>
              <p>I’have read and agree to terms and condition </p>
            </label>
          </div>
          <div class="btn-wrap">
            <button class="btn btn--accent">Create account</button>
          </div>
          <div class="have-account"><span>Already have account? </span><a class="js-popup" href="#popup-login">Login</a></div>
        </form>
      </div>
      <div class="glad-wrap">
        <div class="title">Glad to see You!</div>
        <p>You are in right place for social media <br>BULK DMS service</p>
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
      </div>
    </div>
  </div>
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">DEPOSIT</a></div>
  </div>
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-green">PAID</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
  </div>
{% endblock content %}