{% extends 'base/base.html' %}
{% load static %}

{% block head_tags %}
  <title>Home</title>
{% endblock head_tags %}

{% block content %}
  <div class="page-container is-home">
    {% include 'base/header.html' %}
    <main class="default">
      <div class="container">
        <div class="grid-wrap">
          <div class="aside-wrapper">
            {% include 'home/nav.html' %}
          </div>
          <div class="content-wrapper">
            <section class="home-start">
              <div class="img-wrap"><img src="{% static '/img/home-social.svg' %}" alt=""></div>
              <h1>Increase Sales, Leads, Activity, Engagement <br>most popular Social Media using <br> 
                <a href="{% url 'home' %}"><img src="{% static '/img/logo.svg' %}"></a>
                 service </h1>
              <div class="btn-wrap"><a class="btn btn--accent btn--small no-gap js-popup" href="#popup-sign-up">Start now
                  <svg viewBox="0 0 20 20" width="20px">
                    <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"></use>
                  </svg></a></div>
              <div class="separetor"><span class="long"></span><span></span><span></span></div>
            </section>
            <section class="home-partner">
              <div class="items">
                <div class="item"><img src="{% static '/img/partner-2.png' %}" alt=""></div>
                <div class="item"><img src="{% static '/img/partner-1.png' %}" alt=""></div>
                <div class="item"><img src="{% static '/img/partner-3.png' %}" alt=""></div>
                <div class="item"><img src="{% static '/img/partner-4.png' %}" alt=""></div>
                <div class="item"><img src="{% static '/img/partner-5.png' %}" alt=""></div>
                <div class="item"><img src="{% static '/img/partner-6.png' %}" alt=""></div>
              </div>
            </section>
            <section class="home-benefits" id="benefits" data-scroll-to="benefits">
              <h2 class="center">Benefits</h2>
              <div class="subtitle line">We strive for our clients every day. Below you will see our benefits.</div>
              <div class="items">
                <div class="item"><img src="{% static '/img/benefits-1.png' %}" alt="">
                  <h3>Convenience</h3>
                  <p>Handy dashboard for ordering and monitoring process</p>
                </div>
                <div class="item"><img src="{% static '/img/benefits-2.png' %}" alt="">
                  <h3>Speed</h3>
                  <p>Orders completes <br>24-72h </p>
                </div>
                <div class="item"><img src="{% static '/img/benefits-3.png' %}" alt="">
                  <h3>Support</h3>
                  <p>Online 24/7</p>
                </div>
                <div class="item"><img src="{% static '/img/benefits-4.png' %}" alt="">
                  <h3>Bulk</h3>
                  <p>Easy mass ordering <br>with discounts</p>
                </div>
                <div class="item"><img src="{% static '/img/benefits-5.png' %}" alt="">
                  <h3>DMS Token</h3>
                  <p>Loyality Program with our internal DMS token</p>
                </div>
                <div class="item"><img src="{% static '/img/benefits-6.png' %}" alt="">
                  <h3>Reputation</h3>
                  <p>Best rates in market</p>
                </div>
              </div>
              <div class="separetor"><span></span><span class="long"></span><span></span></div>
            </section>
            <section class="home-calculator" id="pricing" data-scroll-to="pricing">
              <h2 class="center">Price calculator</h2>
              <div class="subtitle line">Easily calculate the cost of your order using our internal price calculator</div>
              <div class="grid">
                <div class="left">
                  <div class="choose-wrap">
                    <h3>Choose a social network</h3>
                    <p>Choose a social network and get bonuses* for   bulk orders</p>
                  </div>
                  <p class="text"> * More messages in order, less price per 1k</p>
                  <div class="social-wrap">
                    <button class="button-social-circle js-swiper-to" data-index="0">
                      <svg viewBox="0 0 24 24" width="24px">
                        <use xlink:href="{% static '/img/sprite.svg' %}#ic-inst"></use>
                      </svg>
                    </button>
                    <button class="button-social-circle js-swiper-to" data-index="1">
                      <svg viewBox="0 0 24 24" width="24px">
                        <use xlink:href="{% static '/img/sprite.svg' %}#ic-tw"></use>
                      </svg>
                    </button>
                    <button class="button-social-circle js-swiper-to" data-index="2">
                      <svg viewBox="0 0 24 24" width="24px">
                        <use xlink:href="{% static '/img/sprite.svg' %}#ic-d"></use>
                      </svg>
                    </button>
                    <button class="button-social-circle js-swiper-to" data-index="3">
                      <svg viewBox="0 0 24 24" width="24px">
                        <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="bottom-wrap">
                    <p>Depending on the ordered message volume in Discord, Telegram Instagram or Twitter, you will receive our DM's internal Tokens that you can then use to pay for new orders, read more information about the Loyalty Program <a class="link" href="./loyalty-program.html">here</a></p><img src="{% static '/img/dms-coin.png' %}" alt="">
                  </div>
                </div>
                <div class="right">
                  <div class="wrapper">
                    <div class="swiper js-swiper-calc">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="block-social-calculator block-white is-swiper">
                            {% if services_under_maintenance.instagram %}
                              {% include 'base/disabled-calculator.html' %}
                            {% endif %}
                            <div class="header-wrap">
                              <div class="ic"><img src="{% static '/img/ic-inst-grad.svg' %}" alt=""/></div><b>Instagram</b>
                              <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                                <svg viewBox="0 0 22 22" width="22px">
                                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                                </svg>
                              </div>
                            </div>
                            <div class="content-wrap">
                              <div class="top-wrap">
                                <p>Quantity</p>
                                <div class="label js-price-per-1k">&nbsp;</div>
                              </div>
                              <div class="range-wrap instagram">
                                <input class="js-range-instagram" type="text"/>
                              </div>
                              <div class="result-wrap instagram">
                                <div class="item">
                                  <p>Amount</p>
                                  <div class="val js-amount">&nbsp;</div>
                                </div>
                                <div class="item">
                                  <p>Discount</p>
                                  <div class="val js-percent">&nbsp;</div>
                                </div>
                                <div class="item">
                                  <p>Total</p>
                                  <div class="val js-price-per-amount">&nbsp;</div>
                                </div>
                              </div>
                              <div class="link-wrap"><a class="link js-popup" href="#popup-instagram">Learn more about process</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="block-social-calculator block-white is-swiper">
                            {% if services_under_maintenance.twitter %}
                              {% include 'base/disabled-calculator.html' %}
                            {% endif %}
                            <div class="header-wrap">
                              <div class="ic twitter">
                                <svg viewBox="0 0 30 30" width="30px">
                                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-tw"></use>
                                </svg>
                              </div><b>Twitter</b>
                              <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                                <svg viewBox="0 0 22 22" width="22px">
                                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                                </svg>
                              </div>
                            </div>
                            <div class="content-wrap">
                              <div class="top-wrap">
                                <p>Quantity</p>
                                <div class="label js-price-per-1k">&nbsp;</div>
                              </div>
                              <div class="range-wrap twitter">
                                <input class="js-range-twitter" type="text"/>
                              </div>
                              <div class="result-wrap twitter">
                                <div class="item">
                                  <p>Amount</p>
                                  <div class="val js-amount">&nbsp;</div>
                                </div>
                                <div class="item">
                                  <p>Discount</p>
                                  <div class="val js-percent">&nbsp;</div>
                                </div>
                                <div class="item">
                                  <p>Total</p>
                                  <div class="val js-price-per-amount">&nbsp;</div>
                                </div>
                              </div>
                              <div class="link-wrap"><a class="link js-popup" href="#popup-twitter">Learn more about process</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="block-social-calculator block-white is-swiper">
                            {% if services_under_maintenance.discord %}
                              {% include 'base/disabled-calculator.html' %}
                            {% endif %}
                            <div class="header-wrap">
                              <div class="ic discord">
                                <svg viewBox="0 0 30 30" width="30px">
                                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-d"></use>
                                </svg>
                              </div><b>Discord</b>
                              <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                                <svg viewBox="0 0 22 22" width="22px">
                                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                                </svg>
                              </div>
                            </div>
                            <div class="content-wrap">
                              <div class="top-wrap">
                                <p>Quantity</p>
                                <div class="label js-price-per-1k">&nbsp;</div>
                              </div>
                              <div class="range-wrap discord">
                                <input class="js-range-discord" type="text"/>
                              </div>
                              <div class="result-wrap discord">
                                <div class="item">
                                  <p>Amount</p>
                                  <div class="val js-amount">&nbsp;</div>
                                </div>
                                <div class="item">
                                  <p>Discount</p>
                                  <div class="val js-percent">&nbsp;</div>
                                </div>
                                <div class="item">
                                  <p>Total</p>
                                  <div class="val js-price-per-amount">&nbsp;</div>
                                </div>
                              </div>
                              <div class="link-wrap"><a class="link js-popup" href="#popup-discord">Learn more about process</a></div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="block-social-calculator block-white is-swiper">
                            {% if services_under_maintenance.telegram %}
                              {% include 'base/disabled-calculator.html' %}
                            {% endif %}
                            <div class="header-wrap">
                              <div class="ic telegram">
                                <svg viewBox="0 0 30 30" width="30px">
                                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use>
                                </svg>
                              </div><b>Telegram</b>
                              <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                                <svg viewBox="0 0 22 22" width="22px">
                                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                                </svg>
                              </div>
                            </div>
                            <div class="content-wrap">
                              <div class="top-wrap">
                                <p>Quantity</p>
                                <div class="label js-price-per-1k">&nbsp;</div>
                              </div>
                              <div class="range-wrap telegram">
                                <input class="js-range-telegram" type="text"/>
                              </div>
                              <div class="result-wrap telegram">
                                <div class="item">
                                  <p>Amount</p>
                                  <div class="val js-amount">&nbsp;</div>
                                </div>
                                <div class="item">
                                  <p>Discount</p>
                                  <div class="val js-percent">&nbsp;</div>
                                </div>
                                <div class="item">
                                  <p>Total</p>
                                  <div class="val js-price-per-amount">&nbsp;</div>
                                </div>
                              </div>
                              <div class="link-wrap"><a class="link js-popup" href="#popup-telegram">Learn more about process</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-arrow prev js-swiper-prev">
                      <svg viewBox="0 0 40 40" width="40px">
                        <use xlink:href="{% static '/img/sprite.svg' %}#ic-prev"></use>
                      </svg>
                    </div>
                    <div class="swiper-arrow next js-swiper-next">
                      <svg viewBox="0 0 40 40" width="40px">
                        <use xlink:href="{% static '/img/sprite.svg' %}#ic-next"></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="separetor"><span></span><span></span><span class="long"></span></div>
            </section>
            <section class="home-chart">
              <div class="wrapper">
                <div class="chart-container">
                  <div class="js-chart-animation"></div>
                </div>
                <div class="popups-wrap">
                  <div class="popup-item active">
                    <div class="order-wrap block-white"><b>Order Status</b>
                      <ul class="block-check-list">
                        <li class="done">
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Scrape</span>
                        </li>
                        <li>
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Filtering</span>
                        </li>
                        <li>
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Sending</span>
                        </li>
                      </ul>
                    </div>
                    <div class="coins-wrap block-white"><img src="{% static '/img/dms-coin.png' %}" alt=""><b>100 DMS Tokens</b></div>
                    <div class="sended-wrap block-white"><b>900k/5m sended</b>
                      <div class="block-line">
                        <div class="line instagram" style="width: 45%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="popup-item">
                    <div class="order-wrap block-white"><b>Order Status</b>
                      <ul class="block-check-list">
                        <li class="done">
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Scrape</span>
                        </li>
                        <li class="done">
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Filtering</span>
                        </li>
                        <li>
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Sending</span>
                        </li>
                      </ul>
                    </div>
                    <div class="coins-wrap block-white"><img src="{% static '/img/dms-coin.png' %}" alt=""><b>200 DMS Tokens</b></div>
                    <div class="sended-wrap block-white"><b>4m/5m sended</b>
                      <div class="block-line">
                        <div class="line instagram" style="width: 80%"></div>
                      </div>
                    </div>
                  </div>
                  <div class="popup-item">
                    <div class="order-wrap block-white"><b>Order Status</b>
                      <ul class="block-check-list">
                        <li class="done">
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Scrape</span>
                        </li>
                        <li class="done">
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Filtering</span>
                        </li>
                        <li class="done">
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Sending</span>
                        </li>
                      </ul>
                    </div>
                    <div class="coins-wrap block-white"><img src="{% static '/img/dms-coin.png' %}" alt=""><b>500 DMS Tokens</b></div>
                    <div class="sended-wrap block-white"><b>5m/5m sended</b>
                      <div class="block-line">
                        <div class="line instagram" style="width: 100%"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="imgs-wrap">
                  <div class="img"><img src="{% static '/img/chart-user-1.png' %}" alt=""></div>
                  <div class="img"><img src="{% static '/img/chart-user-2.png' %}" alt=""></div>
                  <div class="img"><img src="{% static '/img/chart-user-3.png' %}" alt=""></div>
                  <div class="img"><img src="{% static '/img/chart-user-4.png' %}" alt=""></div>
                  <div class="img"><img src="{% static '/img/chart-user-5.png' %}" alt=""></div>
                </div>
              </div>
            </section>
            <section class="home-orders" id="orders" data-scroll-to="orders">
              <h2 class="center">Live orders</h2>
              <div class="items">
                <div class="item">
                  <div class="ava-wrap"><img class="img" src="{% static '/img/chart-user-1.png' %}" alt=""><img class="live" src="{% static '/img/ic-live.svg' %}" alt=""></div>
                  <div class="text-wrap">
                    <h3>Benny Adrin</h3>
                    <ul>
                      <li>
                        <p>Order</p><b>10m Discord</b>
                      </li>
                      <li>
                        <p>Progress</p><b>2.4m/10m </b>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="ava-wrap"><img class="img" src="{% static '/img/chart-user-1.png' %}" alt=""><img class="live" src="{% static '/img/ic-live.svg' %}" alt=""></div>
                  <div class="text-wrap">
                    <h3>Andrey Morsi</h3>
                    <ul>
                      <li>
                        <p>Order</p><b>2m Instagram</b>
                      </li>
                      <li>
                        <p>Progress</p><b>1m/2m </b>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="ava-wrap"><img class="img" src="{% static '/img/chart-user-1.png' %}" alt=""><img class="live" src="{% static '/img/ic-live.svg' %}" alt=""></div>
                  <div class="text-wrap">
                    <h3>Peter Beck</h3>
                    <ul>
                      <li>
                        <p>Order</p><b>250k Telegram</b>
                      </li>
                      <li>
                        <p>Progress</p><b>2.4m/10m </b>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <div class="ava-wrap"><img class="img" src="{% static '/img/chart-user-1.png' %}" alt=""><img class="live" src="{% static '/img/ic-live.svg' %}" alt=""></div>
                  <div class="text-wrap">
                    <h3>Andrey Morsi</h3>
                    <ul>
                      <li>
                        <p>Order</p><b>2m Instagram</b>
                      </li>
                      <li>
                        <p>Progress</p><b>1m/2m</b>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <section class="home-projects">
              <h2 class="center">Our other Projects</h2>
              <div class="items">
                <div class="item"><img src="{% static '/img/project-1.png' %}" alt="">
                  <p>Instagram scrape and filtering cloud tool</p>
                </div>
                <div class="item"><img src="{% static '/img/project-2.png' %}" alt="">
                  <p>Social Media Accounts Store</p>
                </div>
                <div class="item"><img src="{% static '/img/project-3.png' %}" alt="">
                  <p>SMM Panel</p>
                </div>
              </div>
            </section>
            <section class="home-about">
              <h2 class="center">About us in numbers</h2>
              <div class="items js-numbers-anim">
                <div class="item">
                  <p>Clients</p><b><span class="value">100</span>+</b>
                </div>
                <div class="item">
                  <p>Years of experience</p><b><span class="value">4</span>+</b>
                </div>
                <div class="item">
                  <p>Sent messages</p><b><span class="value">100</span>M+</b>
                </div>
              </div>
            </section>
            <footer class="footer-main">
              {% include 'base/footer.html' %}
            </footer>
            {% include 'popup/accept-cookies.html' %}
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="container">
    </div>
  </div>
  {% include 'popup/instagram.html' %}
  {% include 'popup/discord.html' %}
  {% include 'popup/telegram.html' %}
  {% include 'popup/twitter.html' %}
  {% include 'popup/login.html' %}
  {% include 'popup/signup.html' %}
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">DEPOSIT</a></div>
  </div>
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-green">PAID</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
  </div>
{% endblock content %}