{% load static %}
<div class="top-wrap">
  <div class="grid">
    <div class="col">
      <div class="logo-wrap"><a href="{% url 'home' %}"><img src="{% static '/img/logo.svg' %}" alt=""></a></div>
      <p class="copy">We are responsible for all information provided on the site. All rights reserved by the copyright holder. When using our service for personal purposes, you must indicate us as the source.</p>
      <div class="btn-wrap"><a class="btn btn--accent btn--small js-popup" href="#popup-sign-up">Start with us</a></div>
    </div>
    <div class="col">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}#benefits">Benefits</a></li>
        <li><a href="{% url 'home' %}#pricing">Pricing</a></li>
        <li><a href="{% url 'home' %}#orders">Live pricing</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'blog' page_pk=1 %}">Blog</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Important Info</h3>
      <ul>
        <li><a href="./rules.html">Rules</a></li>
        <li><a href="{% url 'cookies_policy' %}">Cookies Policy</a></li>
        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
        <li><a href="#">For EU Citizens</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Contact</h3>
      <ul>
        <li class="small">Telegram: <a href="https://t.me/dmsbulk" target="_blank">t.me/dmsbulk</a></li>
        <li class="small">Email: <a href="mailto:dmsbulkteam@gmail.com" target="_blank">dmsbulkteam@gmail.com</a></li>
        <li class="small">Instagram: <a href="https://instagram.com/dmsbulk" target="_blank">instagram.com/dmsbulk</a></li>
      </ul><img class="pay" src="{% static '/img/pay.png' %}" alt="">
    </div>
  </div>
</div>
<div class="bottom-wrap">
  <p>© 2022 DMSBulk. All rights reserved. </p>
</div>