extends ./components/_layout.pug

block vars
	- const pageTitle = 'Privacy Policy'
	- const pageClass = ''
	- const page = 'privacy-policy'
	- const lang = 'en'
	- const layout = 'default'
	- const header = 'default' // default logged cabinet

block content_block
	section.section-text
		h1.inner.center Privacy Policy

		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum tenetur ducimus quo ab officiis quaerat corporis possimus eveniet laboriosam magni molestiae assumenda fugit, similique rem temporibus nostrum, cupiditate cum odio. Temporibus sint earum quidem minima veniam expedita asperiores, at molestiae sapiente sunt nisi consequuntur et officia! Quam laborum totam nostrum perspiciatis aperiam libero fugit delectus ab, at laboriosam quidem iure necessitatibus expedita quis. Saepe porro eius sunt repellat natus, consectetur veniam quibusdam quas quos illum, amet a fuga pariatur maiores enim sed odio impedit distinctio! Incidunt quas officia, dignissimos magni, sequi, iure quasi cupiditate dolorem suscipit illo veniam facere eius!
		br
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil vero debitis tempore necessitatibus repudiandae expedita quis earum, neque accusamus, aut corrupti unde iure voluptas, fugiat voluptate dolores! Corporis aliquam ullam illum, perferendis quaerat voluptas recusandae aliquid, ab eos molestias vero? Quibusdam veniam repellat ipsa eaque ratione consectetur reiciendis, autem suscipit facere eos ullam fugit voluptate dicta reprehenderit recusandae odio expedita vel cum quo nisi ea. Beatae at libero distinctio nostrum sit ratione possimus nesciunt excepturi facere veritatis. Voluptas quisquam error numquam cumque. <a class="link" href="#">Quas obcaecati quibusdam</a>, error maiores iure itaque! Distinctio molestias vero sapiente temporibus quod commodi voluptas! Ex dignissimos consequatur culpa explicabo voluptatum.
		br
		p Distinctio est maxime iusto aperiam veniam unde, totam quibusdam minus hic recusandae neque a, quam consequatur sequi placeat magni libero autem corporis nam quas ipsam quis. Dolore, unde est? Fuga ipsam consequatur culpa officia expedita nesciunt quas possimus inventore delectus optio quia rerum perspiciatis quidem, eum magnam! Praesentium voluptatum dolorem aut tempora, libero, sequi dolor voluptatibus necessitatibus eos sed accusamus aperiam molestiae voluptate hic aliquid! Maiores dolores amet, mollitia libero repellendus illo itaque quae fugit corrupti architecto, dicta qui! Sapiente amet tenetur eos neque expedita in quis odio sunt aspernatur accusamus. Veritatis soluta necessitatibus eveniet itaque sed.
		br
		p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, recusandae!
		ul
			li Lorem ipsum dolor sit amet.
			li Lorem consectetur adipisicing elit. Magni, perspiciatis?
			li Lorem ipsum dolor sit amet.
			li Ll sit amet.
		br
		ol
			li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, odit est harum natus eveniet blanditiis unde quis tenetur ipsam libero qui vitae quia facere mollitia fuga! Perferendis, eum eveniet.
			li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, odit est harum natus eveniet blanditiis unde quis tenetur ipsam libero qui vitae quia facere mollitia fuga! Perferendis, eum eveniet.
			li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur, odit est harum natus eveniet blanditiis unde quis tenetur ipsam libero qui vitae quia facere mollitia fuga! Perferendis, eum eveniet.