{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> Google Analytics </h1>
{% endblock %}

{% block result_list %}
    <div class="analytics-wrapper">
        <div class="analytics-item-blue">
            {{ orders_today_count }}
        </div>
         <div class="analytics-item-yellow">
            {{ orders_today_sum }} $
        </div>
         <div class="analytics-item-red">
             {{ users_number_today }}
        </div>

         <div class="analytics-item-blue">
            {{ orders_last_week_count }}
        </div>
         <div class="analytics-item-yellow">
            {{ orders_last_week_sum }} $
        </div>
         <div class="analytics-item-red">
             {{ users_number_last_week }}
        </div>

         <div class="analytics-item-blue">
            {{ orders_complete_count }}
        </div>
         <div class="analytics-item-yellow">
            {{ orders_all_sum }} $
        </div>
         <div class="analytics-item-red">
             {{ users_number_all_tim }}
        </div>



        <div class="analytics-item-green">
            {{ user_activity_count }}
        </div>



    </div>


    <!-- Our content goes here... -->
{% endblock %}

{% block pagination %}{% endblock %}