{% load static %}
<div class="mfp-hide popup popup--social" id="popup-discord">
    <h2>Discord</h2>
    <p>Discord mass spam is the perfect way to grow servers and communities with only organic and healthy traffic. There are a lot of users who are interested in NFT/Metawerse products and we can easily attract them to your product. </p><br/>
    <p>We can provide mass dms to only active and online users from other servers. I want to note that in Discord there is no filtering,  but in another case there are 1000x less bots than in other social media.</p><br/>
    <p>All our accounts will have avatars, in a message we will attach your server or if you also want an image or gif.</p><br/>
    <p>You can use your targets/servers chosen for scrape</p><br/>
    <div class="img-wrap"><img src="{% static '/img/popup-d-1.jpg' %}" alt=""/></div>
</div>