{% load static %}
<div class="mfp-hide popup popup--social" id="popup-instagram">
    <h2>Instagram</h2>
    <p>Organic Instagram Growth, Driving Targeted Traffic to your page or specific post in the DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
    <p>As we provide high quality service, before mass DM we use auditory filtration – means that we maximally filter out inactive and bot accounts, using filtration by avatar, followers amount, amount of posts, latest activity of account and by language used in bio or name. </p><br/>
    <p>You do not need to use your account, all messages are sended using our HQ blank accounts.</p><br/>
    <p>All messages goes with Notifications in general requests:</p><br/>
    <div class="img-wrap"><img src="{% static '/img/popup-inst-1.jpg' %}" alt=""/></div><br/>
    <p>Possibility to attach profile link, post or direct link to site:</p><br/>
    <div class="img-wrap col-2"><img src="{% static '/img/popup-inst-2.jpg' %}" alt=""/><img src="{% static '/img/popup-inst-3.jpg' %}" alt=""/><img src="{% static '/img/popup-inst-4.jpg' %}" alt=""/></div>
</div>