{% load static %}
<div class="mfp-hide popup popup--social" id="popup-telegram">
    <h2>Telegram</h2>
    <p>Organic Telegram Growth, Driving Targeted Traffic to your groups, channels or directly to site using mass DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
    <p>Provide telegram mass messaging, scrape. Scrape works from any groups - public. We can send traffic to a group, channel or direct site.</p><br/>
    <p>Each message goes with notifications & using our limits and HQ accounts, messages will be seen all time while the user does not block messages. </p><br/>
    <div class="img-wrap"><img src="{% static '/img/popup-tg-1.jpg' %}" alt=""/></div>
</div>