{% load static %}
<div class="mfp-hide popup popup--social" id="popup-twitter">
    <h2>Twitter </h2>
    <p>Organic Twitter Growth, Driving Targeted Traffic to your Twitter Profile or directly to site using mass DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
    <p>Messages go to general requests with or without notification depending on receiver notification settings. Scrape works using your competitors their last followers. </p><br/>
    <p>Our messages come with avatars on profiles and attached link or profile.</p><br/>
    <div class="img-wrap"><img src="{% static '/img/popup-tw-1.jpg' %}" alt=""/></div>
</div>