{% extends 'base/base.html' %}
{% load static %}

{% block head_tags %}
{% if title %}
<title>{{ title }}</title>
{% else %}
<title>404</title>
{% endif %}
{% endblock head_tags %}

{% block content %}
<div class="page-container is-home">
  {% include 'base/header.html' %}
  <main class="default">
    <div class="container">
      <div class="grid-wrap">
        <div class="aside-wrapper">
          {% include 'home/nav.html' %}
        </div>
        <div class="content-wrapper">
          <section class="page-404"><img src="{% static '/img/404.svg' %}" alt=""></section>
          <footer class="footer-main">
            {% include 'base/footer.html' %}
          </footer>
          {% include 'popup/accept-cookies.html' %}
          {% include 'popup/arrow-up.html' %}
          <button class="js-scroll-up scroll-up">
            <svg viewBox="0 0 16 16" width="16px">
              <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-up"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </main>
  <div class="container">
  </div>
</div>
{% include 'popup/instagram.html' %}
{% include 'popup/discord.html' %}
{% include 'popup/telegram.html' %}
{% include 'popup/twitter.html' %}
{% include 'popup/login.html' %}
{% include 'popup/signup.html' %}
<div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
  <div class="header-wrap">
    <div class="left">
      <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt="" /></div>
      <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
    </div>
    <div class="right">
      <div class="title">INVOICE</div>
      <p>ID (#DM-11111)</p>
    </div>
  </div>
  <div class="info-wrap">
    <div class="item"><b>Invoice to:</b>
      <p>Client Email adress and Name</p>
    </div>
    <div class="item"><b>Invoice data:</b>
      <p>06.08.2022</p>
    </div>
  </div>
  <div class="table-info">
    <div class="tr">
      <div class="td"><b>Invoice ID</b></div>
      <div class="td"><b>Payment Method</b></div>
      <div class="td"><b>Description</b></div>
      <div class="td"><b>Status</b></div>
    </div>
    <div class="tr">
      <div class="td">DM-11111</div>
      <div class="td">Paypal</div>
      <div class="td">Social Media Marketing program</div>
      <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
    </div>
  </div>
  <div class="table-total">
    <div class="tr">
      <div class="td"><b>Sub Total</b></div>
      <div class="td">2000$</div>
    </div>
    <div class="tr">
      <div class="td"><b>Total</b></div>
      <div class="td">2000$</div>
    </div>
  </div>
  <div class="btn-wrap"><a class="btn" href="#">DEPOSIT</a></div>
</div>
<div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
  <div class="header-wrap">
    <div class="left">
      <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt="" /></div>
      <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
    </div>
    <div class="right">
      <div class="title">INVOICE</div>
      <p>ID (#DM-11111)</p>
    </div>
  </div>
  <div class="info-wrap">
    <div class="item"><b>Invoice to:</b>
      <p>Client Email adress and Name</p>
    </div>
    <div class="item"><b>Invoice data:</b>
      <p>06.08.2022</p>
    </div>
  </div>
  <div class="table-info">
    <div class="tr">
      <div class="td"><b>Invoice ID</b></div>
      <div class="td"><b>Payment Method</b></div>
      <div class="td"><b>Description</b></div>
      <div class="td"><b>Status</b></div>
    </div>
    <div class="tr">
      <div class="td">DM-11111</div>
      <div class="td">Paypal</div>
      <div class="td">Social Media Marketing program</div>
      <div class="td"><span class="status c-green">PAID</span></div>
    </div>
  </div>
  <div class="table-total">
    <div class="tr">
      <div class="td"><b>Sub Total</b></div>
      <div class="td">2000$</div>
    </div>
    <div class="tr">
      <div class="td"><b>Total</b></div>
      <div class="td">2000$</div>
    </div>
  </div>
  <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
</div>
<div class="popup-alert-container"></div>
{% endblock content %}