{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    <div class="page-container is-home">
      {% include 'header.html' %}
      <main class="default">
        <div class="container">
          <div class="grid-wrap">
            <div class="aside-wrapper">
              {% include 'nav.html' %}
            </div>
            <div class="content-wrapper">
              <section class="home-start">
                <div class="img-wrap"><img src="{% static '/img/home-social.svg' %}" alt=""></div>
                <h1>Increase Sales, Leads, Activity, Engagement <br>most popular Social Media using <br> <img src="{% static '/img/logo.svg' %}"> service </h1>
                <div class="btn-wrap"><a class="btn btn--accent btn--small no-gap js-popup" href="#popup-sign-up">Start now
                    <svg viewBox="0 0 20 20" width="20px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-arrow-right"></use>
                    </svg></a></div>
                <div class="separetor"><span class="long"></span><span></span><span></span></div>
              </section>
              <section class="home-benefits" id="benefits" data-scroll-to="benefits">
                <h2 class="center">Benefits</h2>
                <div class="subtitle line">We strive for our clients every day. Below you will see our benefits.</div>
                <div class="items">
                  <div class="item"><img src="{% static '/img/benefits-1.png' %}" alt="">
                    <h3>Convenience</h3>
                    <p>Handy dashboard for ordering and monitoring process</p>
                  </div>
                  <div class="item"><img src="{% static '/img/benefits-2.png' %}" alt="">
                    <h3>Speed</h3>
                    <p>Orders completes <br>24-72h </p>
                  </div>
                  <div class="item"><img src="{% static '/img/benefits-3.png' %}" alt="">
                    <h3>Support</h3>
                    <p>Online 24/7</p>
                  </div>
                  <div class="item"><img src="{% static '/img/benefits-4.png' %}" alt="">
                    <h3>Bulk</h3>
                    <p>Easy mass ordering <br>with discounts</p>
                  </div>
                  <div class="item"><img src="{% static '/img/benefits-5.png' %}" alt="">
                    <h3>DMS Token</h3>
                    <p>Loyality Program with our internal DMS token</p>
                  </div>
                  <div class="item"><img src="{% static '/img/benefits-6.png' %}" alt="">
                    <h3>Reputation</h3>
                    <p>Best rates in market</p>
                  </div>
                </div>
                <div class="separetor"><span></span><span class="long"></span><span></span></div>
              </section>
              <section class="home-calculator" id="pricing" data-scroll-to="pricing">
                <h2 class="center">Price calculator</h2>
                <div class="subtitle line">Easily calculate the cost of your order using our internal price calculator</div>
                <div class="grid">
                  <div class="left">
                    <div class="choose-wrap">
                      <h3>Choose a social network</h3>
                      <p>Choose a social network and get bonuses* for   bulk orders</p>
                    </div>
                    <p class="text"> * More messages in order, less price per 1k</p>
                    <div class="social-wrap">
                      <button class="button-social-circle js-swiper-to" data-index="0">
                        <svg viewBox="0 0 24 24" width="24px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-inst"></use>
                        </svg>
                      </button>
                      <button class="button-social-circle js-swiper-to" data-index="1">
                        <svg viewBox="0 0 24 24" width="24px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-tw"></use>
                        </svg>
                      </button>
                      <button class="button-social-circle js-swiper-to" data-index="2">
                        <svg viewBox="0 0 24 24" width="24px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-d"></use>
                        </svg>
                      </button>
                      <button class="button-social-circle js-swiper-to" data-index="3">
                        <svg viewBox="0 0 24 24" width="24px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="bottom-wrap">
                      <p>Depending on the ordered message volume in Discord, Telegram Instagram or Twitter, you will receive our DM's internal Tokens that you can then use to pay for new orders, read more information about the Loyalty Program <a class="link" href="./loyalty-program.html">here</a></p><img src="{% static '/img/dms-coin.png' %}" alt="">
                    </div>
                  </div>
                  <div class="right">
                    <div class="wrapper">
                      <div class="swiper js-swiper-calc">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="block-social-calculator block-white is-swiper">
                              <div class="header-wrap">
                                <div class="ic"><img src="{% static '/img/ic-inst-grad.svg' %}" alt=""/></div><b>Instagram</b>
                                <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                                  <svg viewBox="0 0 22 22" width="22px">
                                    <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                                  </svg>
                                </div>
                              </div>
                              <div class="content-wrap">
                                <div class="top-wrap">
                                  <p>Quantity</p>
                                  <div class="label js-price-per-1k">&nbsp;</div>
                                </div>
                                <div class="range-wrap instagram">
                                  <input class="js-range-instagram" type="text"/>
                                </div>
                                <div class="result-wrap instagram">
                                  <div class="item">
                                    <p>Amount</p>
                                    <div class="val js-amount">&nbsp;</div>
                                  </div>
                                  <div class="item">
                                    <p>Discount</p>
                                    <div class="val js-percent">&nbsp;</div>
                                  </div>
                                  <div class="item">
                                    <p>Total</p>
                                    <div class="val js-price-per-amount">&nbsp;</div>
                                  </div>
                                </div>
                                <div class="link-wrap"><a class="link js-popup" href="#popup-instagram">Learn more about process</a></div>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="block-social-calculator block-white is-swiper">
                              <div class="header-wrap">
                                <div class="ic twitter">
                                  <svg viewBox="0 0 30 30" width="30px">
                                    <use xlink:href="{% static '/img/sprite.svg' %}#ic-tw"></use>
                                  </svg>
                                </div><b>Twitter</b>
                                <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                                  <svg viewBox="0 0 22 22" width="22px">
                                    <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                                  </svg>
                                </div>
                              </div>
                              <div class="content-wrap">
                                <div class="top-wrap">
                                  <p>Quantity</p>
                                  <div class="label js-price-per-1k">&nbsp;</div>
                                </div>
                                <div class="range-wrap twitter">
                                  <input class="js-range-twitter" type="text"/>
                                </div>
                                <div class="result-wrap twitter">
                                  <div class="item">
                                    <p>Amount</p>
                                    <div class="val js-amount">&nbsp;</div>
                                  </div>
                                  <div class="item">
                                    <p>Discount</p>
                                    <div class="val js-percent">&nbsp;</div>
                                  </div>
                                  <div class="item">
                                    <p>Total</p>
                                    <div class="val js-price-per-amount">&nbsp;</div>
                                  </div>
                                </div>
                                <div class="link-wrap"><a class="link js-popup" href="#popup-twitter">Learn more about process</a></div>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="block-social-calculator block-white is-swiper">
                              <div class="header-wrap">
                                <div class="ic discord">
                                  <svg viewBox="0 0 30 30" width="30px">
                                    <use xlink:href="{% static '/img/sprite.svg' %}#ic-d"></use>
                                  </svg>
                                </div><b>Discord</b>
                                <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                                  <svg viewBox="0 0 22 22" width="22px">
                                    <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                                  </svg>
                                </div>
                              </div>
                              <div class="content-wrap">
                                <div class="top-wrap">
                                  <p>Quantity</p>
                                  <div class="label js-price-per-1k">&nbsp;</div>
                                </div>
                                <div class="range-wrap discord">
                                  <input class="js-range-discord" type="text"/>
                                </div>
                                <div class="result-wrap discord">
                                  <div class="item">
                                    <p>Amount</p>
                                    <div class="val js-amount">&nbsp;</div>
                                  </div>
                                  <div class="item">
                                    <p>Discount</p>
                                    <div class="val js-percent">&nbsp;</div>
                                  </div>
                                  <div class="item">
                                    <p>Total</p>
                                    <div class="val js-price-per-amount">&nbsp;</div>
                                  </div>
                                </div>
                                <div class="link-wrap"><a class="link js-popup" href="#popup-discord">Learn more about process</a></div>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="block-social-calculator block-white is-swiper">
                              <div class="header-wrap">
                                <div class="ic telegram">
                                  <svg viewBox="0 0 30 30" width="30px">
                                    <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use>
                                  </svg>
                                </div><b>Telegram</b>
                                <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                                  <svg viewBox="0 0 22 22" width="22px">
                                    <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                                  </svg>
                                </div>
                              </div>
                              <div class="content-wrap">
                                <div class="top-wrap">
                                  <p>Quantity</p>
                                  <div class="label js-price-per-1k">&nbsp;</div>
                                </div>
                                <div class="range-wrap telegram">
                                  <input class="js-range-telegram" type="text"/>
                                </div>
                                <div class="result-wrap telegram">
                                  <div class="item">
                                    <p>Amount</p>
                                    <div class="val js-amount">&nbsp;</div>
                                  </div>
                                  <div class="item">
                                    <p>Discount</p>
                                    <div class="val js-percent">&nbsp;</div>
                                  </div>
                                  <div class="item">
                                    <p>Total</p>
                                    <div class="val js-price-per-amount">&nbsp;</div>
                                  </div>
                                </div>
                                <div class="link-wrap"><a class="link js-popup" href="#popup-telegram">Learn more about process</a></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-arrow prev js-swiper-prev">
                        <svg viewBox="0 0 40 40" width="40px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-prev"></use>
                        </svg>
                      </div>
                      <div class="swiper-arrow next js-swiper-next">
                        <svg viewBox="0 0 40 40" width="40px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-next"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="separetor"><span></span><span></span><span class="long"></span></div>
              </section>
              <section class="home-chart">
                <div class="wrapper">
                  <div class="chart-container">
                    <div class="js-chart-animation"></div>
                  </div>
                  <div class="popups-wrap">
                    <div class="popup-item active">
                      <div class="order-wrap block-white"><b>Order Status</b>
                        <ul class="block-check-list">
                          <li class="done">
                            <div class="ic">
                              <svg viewBox="0 0 13 13" width="13px">
                                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                              </svg>
                            </div><span>Scrape</span>
                          </li>
                          <li>
                            <div class="ic">
                              <svg viewBox="0 0 13 13" width="13px">
                                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                              </svg>
                            </div><span>Filtering</span>
                          </li>
                          <li>
                            <div class="ic">
                              <svg viewBox="0 0 13 13" width="13px">
                                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                              </svg>
                            </div><span>Sending</span>
                          </li>
                        </ul>
                      </div>
                      <div class="coins-wrap block-white"><img src="{% static '/img/dms-coin.png' %}" alt=""><b>100 DMS Tokens</b></div>
                      <div class="sended-wrap block-white"><b>900k/5m sended</b>
                        <div class="block-line">
                          <div class="line instagram" style="width: 45%"></div>
                        </div>
                      </div>
                    </div>
                    <div class="popup-item">
                      <div class="order-wrap block-white"><b>Order Status</b>
                        <ul class="block-check-list">
                          <li class="done">
                            <div class="ic">
                              <svg viewBox="0 0 13 13" width="13px">
                                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                              </svg>
                            </div><span>Scrape</span>
                          </li>
                          <li class="done">
                            <div class="ic">
                              <svg viewBox="0 0 13 13" width="13px">
                                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                              </svg>
                            </div><span>Filtering</span>
                          </li>
                          <li>
                            <div class="ic">
                              <svg viewBox="0 0 13 13" width="13px">
                                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                              </svg>
                            </div><span>Sending</span>
                          </li>
                        </ul>
                      </div>
                      <div class="coins-wrap block-white"><img src="{% static '/img/dms-coin.png' %}" alt=""><b>200 DMS Tokens</b></div>
                      <div class="sended-wrap block-white"><b>4m/5m sended</b>
                        <div class="block-line">
                          <div class="line instagram" style="width: 80%"></div>
                        </div>
                      </div>
                    </div>
                    <div class="popup-item">
                      <div class="order-wrap block-white"><b>Order Status</b>
                        <ul class="block-check-list">
                          <li class="done">
                            <div class="ic">
                              <svg viewBox="0 0 13 13" width="13px">
                                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                              </svg>
                            </div><span>Scrape</span>
                          </li>
                          <li class="done">
                            <div class="ic">
                              <svg viewBox="0 0 13 13" width="13px">
                                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                              </svg>
                            </div><span>Filtering</span>
                          </li>
                          <li class="done">
                            <div class="ic">
                              <svg viewBox="0 0 13 13" width="13px">
                                <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                              </svg>
                            </div><span>Sending</span>
                          </li>
                        </ul>
                      </div>
                      <div class="coins-wrap block-white"><img src="{% static '/img/dms-coin.png' %}" alt=""><b>500 DMS Tokens</b></div>
                      <div class="sended-wrap block-white"><b>5m/5m sended</b>
                        <div class="block-line">
                          <div class="line instagram" style="width: 100%"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="imgs-wrap">
                    <div class="img"><img src="{% static '/img/chart-user-1.png' %}" alt=""></div>
                    <div class="img"><img src="{% static '/img/chart-user-2.png' %}" alt=""></div>
                    <div class="img"><img src="{% static '/img/chart-user-3.png' %}" alt=""></div>
                    <div class="img"><img src="{% static '/img/chart-user-4.png' %}" alt=""></div>
                    <div class="img"><img src="{% static '/img/chart-user-5.png' %}" alt=""></div>
                  </div>
                </div>
              </section>
              <section class="home-orders" id="orders" data-scroll-to="orders">
                <h2 class="center">Live orders</h2>
                <div class="items">
                  <div class="item">
                    <div class="ava-wrap"><img class="img" src="{% static '/img/avatar.png' %}" alt=""><img class="live" src="{% static '/img/ic-live.svg' %}" alt=""></div>
                    <div class="text-wrap">
                      <h3>Benny Adrin</h3>
                      <ul>
                        <li>
                          <p>Order</p><b>10m Discord</b>
                        </li>
                        <li>
                          <p>Progress</p><b>2.4m/10m </b>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="item">
                    <div class="ava-wrap"><img class="img" src="{% static '/img/avatar.png' %}" alt=""><img class="live" src="{% static '/img/ic-live.svg' %}" alt=""></div>
                    <div class="text-wrap">
                      <h3>Andrey Morsi</h3>
                      <ul>
                        <li>
                          <p>Order</p><b>2m Instagram</b>
                        </li>
                        <li>
                          <p>Progress</p><b>1m/2m </b>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="item">
                    <div class="ava-wrap"><img class="img" src="{% static '/img/avatar.png' %}" alt=""><img class="live" src="{% static '/img/ic-live.svg' %}" alt=""></div>
                    <div class="text-wrap">
                      <h3>Peter Beck</h3>
                      <ul>
                        <li>
                          <p>Order</p><b>250k Telegram</b>
                        </li>
                        <li>
                          <p>Progress</p><b>2.4m/10m </b>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="item">
                    <div class="ava-wrap"><img class="img" src="{% static '/img/avatar.png' %}" alt=""><img class="live" src="{% static '/img/ic-live.svg' %}" alt=""></div>
                    <div class="text-wrap">
                      <h3>Andrey Morsi</h3>
                      <ul>
                        <li>
                          <p>Order</p><b>2m Instagram</b>
                        </li>
                        <li>
                          <p>Progress</p><b>1m/2m</b>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
              <section class="home-projects">
                <h2 class="center">Our other Projects</h2>
                <div class="items">
                  <div class="item"><img src="{% static '/img/project-1.png' %}" alt="">
                    <p>Instagram scrape and filtering cloud tool</p>
                  </div>
                  <div class="item"><img src="{% static '/img/project-2.png' %}" alt="">
                    <p>Social Media Accounts Store</p>
                  </div>
                  <div class="item"><img src="{% static '/img/project-3.png' %}" alt="">
                    <p>SMM Panel</p>
                  </div>
                </div>
              </section>
              <section class="home-about">
                <h2 class="center">About us in numbers</h2>
                <div class="items js-numbers-anim">
                  <div class="item">
                    <p>Clients</p><b><span class="value">100</span>+</b>
                  </div>
                  <div class="item">
                    <p>Years of experience</p><b><span class="value">4</span>+</b>
                  </div>
                  <div class="item">
                    <p>Sent messages</p><b><span class="value">100</span>M+</b>
                  </div>
                </div>
              </section>
              {% include 'footer.html' %}
              <div class="popup-cookies">
                <div class="grid">
                  <p>By using website, you agree with our use of cookies to improve performance and enhance your experience. More information on our <a href="./cookies-policy.html">cookies policy page.</a></p>
                  <button class="js-close-cookies">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="container">
      </div>
    </div>
    <div class="mfp-hide popup popup--social" id="popup-instagram">
      <h2>Instagram</h2>
      <p>Organic Instagram Growth, Driving Targeted Traffic to your page or specific post in the DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
      <p>As we provide high quality service, before mass DM we use auditory filtration – means that we maximally filter out inactive and bot accounts, using filtration by avatar, followers amount, amount of posts, latest activity of account and by language used in bio or name. </p><br/>
      <p>You do not need to use your account, all messages are sended using our HQ blank accounts.</p><br/>
      <p>All messages goes with Notifications in general requests:</p><br/>
      <div class="img-wrap"><img src="{% static '/img/popup-inst-1.jpg' %}" alt=""/></div><br/>
      <p>Possibility to attach profile link, post or direct link to site:</p><br/>
      <div class="img-wrap col-2"><img src="{% static '/img/popup-inst-2.jpg' %}" alt=""/><img src="{% static '/img/popup-inst-3.jpg' %}" alt=""/><img src="{% static '/img/popup-inst-4.jpg' %}" alt=""/></div>
    </div>
    <div class="mfp-hide popup popup--social" id="popup-discord">
      <h2>Discord</h2>
      <p>Discord mass spam is the perfect way to grow servers and communities with only organic and healthy traffic. There are a lot of users who are interested in NFT/Metawerse products and we can easily attract them to your product. </p><br/>
      <p>We can provide mass dms to only active and online users from other servers. I want to note that in Discord there is no filtering,  but in another case there are 1000x less bots than in other social media.</p><br/>
      <p>All our accounts will have avatars, in a message we will attach your server or if you also want an image or gif.</p><br/>
      <p>You can use your targets/servers chosen for scrape</p><br/>
      <div class="img-wrap"><img src="{% static '/img/popup-d-1.jpg' %}" alt=""/></div>
    </div>
    <div class="mfp-hide popup popup--social" id="popup-telegram">
      <h2>Telegram</h2>
      <p>Organic Telegram Growth, Driving Targeted Traffic to your groups, channels or directly to site using mass DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
      <p>Provide telegram mass messaging, scrape. Scrape works from any groups - public. We can send traffic to a group, channel or direct site.</p><br/>
      <p>Each message goes with notifications & using our limits and HQ accounts, messages will be seen all time while the user does not block messages. </p><br/>
      <div class="img-wrap"><img src="{% static '/img/popup-tg-1.jpg' %}" alt=""/></div>
    </div>
    <div class="mfp-hide popup popup--social" id="popup-twitter">
      <h2>Twitter </h2>
      <p>Organic Twitter Growth, Driving Targeted Traffic to your Twitter Profile or directly to site using mass DMs. Our clients are seeing success in lead generation, product promotions and even recruiting influencers / affiliates from our Mass DM Solution.</p><br/>
      <p>Messages go to general requests with or without notification depending on receiver notification settings. Scrape works using your competitors their last followers. </p><br/>
      <p>Our messages come with avatars on profiles and attached link or profile.</p><br/>
      <div class="img-wrap"><img src="{% static '/img/popup-tw-1.jpg' %}" alt=""/></div>
    </div>
    <div class="mfp-hide popup popup--login" id="popup-login">
      <div class="popup-form-wrap">
        <form method="post" action="{% url 'home' %}">
          {% csrf_token %}
          <input type='hidden' name='action' value='sign_in_form'>
          <h3 class="center">Login</h3>
          <div class="input-wrap mb">
            {{ sign_in_form.email }}
            <div class="ic">
              <svg viewBox="0 0 20 20" width="20px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-email"></use>
              </svg>
            </div>
          </div>
          <div class="input-wrap">
            {{ sign_in_form.password }}
            <div class="ic">
              <svg viewBox="0 0 20 20" width="20px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-password"></use>
              </svg>
            </div>
            <button class="password-hidden js-toggle-password" type="button">
              <svg viewBox="0 0 20 20" width="20px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-eye-open"></use>
              </svg>
              <svg viewBox="0 0 20 20" width="20px">
                <use xlink:href="{% static '/img/sprite.svg' %}#ic-eye-close"></use>
              </svg>
            </button>
          </div>
          <div class="checkbox-wrapper">
            <label class="block-checkbox">
              <input type="checkbox" required="required"/>
              <div class="checkbox">
                <svg viewBox="0 0 12 12" width="12px">
                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                </svg>
              </div>
              <p>Remember me</p>
            </label>
            <div class="link-wrap"><a href="#">Forgot password?</a></div>
          </div>
          <div class="btn-wrap">
            <button class="btn btn--accent" type="submit">Sign In</button>
          </div>
        </form>
      </div>
    </div>
    <div class="mfp-hide popup popup--login sign-up" id="popup-sign-up">
      <div class="grid">
        <div class="popup-form-wrap">
          <form method="post" action="{% url 'home' %}">
            <h3 class="center">Hello, Friend!</h3>
            {% csrf_token %}
            <input type='hidden' name='action' value='sign_up_form'>
            <div class="input-wrap mb">            
              {{ sign_up_form.username }}
              <div class="ic">
                <svg viewBox="0 0 20 20" width="20px">
                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-user"></use>
                </svg>
              </div>
            </div>
            <div class="input-wrap mb">
              {{ sign_up_form.email }}
              <div class="ic">
                <svg viewBox="0 0 20 20" width="20px">
                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-email"></use>
                </svg>
              </div>
            </div>
            <div class="input-wrap">
              {{ sign_up_form.password1 }}
              <div class="ic">
                <svg viewBox="0 0 20 20" width="20px">
                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-password"></use>
                </svg>
              </div>
              <button class="password-hidden js-toggle-password" type="submit">
                <svg viewBox="0 0 20 20" width="20px">
                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-eye-open"></use>
                </svg>
                <svg viewBox="0 0 20 20" width="20px">
                  <use xlink:href="{% static '/img/sprite.svg' %}#ic-eye-close"></use>
                </svg>
              </button>
            </div>
            <div class="checkbox-wrapper">
              <label class="block-checkbox">
                <input type="checkbox" required="required"/>
                <div class="checkbox">
                  <svg viewBox="0 0 12 12" width="12px">
                    <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                  </svg>
                </div>
                <p>I’have read and agree to terms and condition </p>
              </label>
            </div>
            <div class="btn-wrap">
              <button class="btn btn--accent">Create account</button>
            </div>
            <div class="have-account"><span>Already have account? </span><a class="js-popup" href="#popup-login">Login</a></div>
          </form>
        </div>
        <div class="glad-wrap">
          <div class="title">Glad to see You!</div>
          <p>You are in right place for social media <br>BULK DMS service</p>
          <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        </div>
      </div>
    </div>
    <div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
      <div class="header-wrap">
        <div class="left">
          <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
          <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
        </div>
        <div class="right">
          <div class="title">INVOICE</div>
          <p>ID (#DM-11111)</p>
        </div>
      </div>
      <div class="info-wrap">
        <div class="item"><b>Invoice to:</b>
          <p>Client Email adress and Name</p>
        </div>
        <div class="item"><b>Invoice data:</b>
          <p>06.08.2022</p>
        </div>
      </div>
      <div class="table-info">
        <div class="tr">
          <div class="td"><b>Invoice ID</b></div>
          <div class="td"><b>Payment Method</b></div>
          <div class="td"><b>Description</b></div>
          <div class="td"><b>Status</b></div>
        </div>
        <div class="tr">
          <div class="td">DM-11111</div>
          <div class="td">Paypal</div>
          <div class="td">Social Media Marketing program</div>
          <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
        </div>
      </div>
      <div class="table-total">
        <div class="tr">
          <div class="td"><b>Sub Total</b></div>
          <div class="td">2000$</div>
        </div>
        <div class="tr">
          <div class="td"><b>Total</b></div>
          <div class="td">2000$</div>
        </div>
      </div>
      <div class="btn-wrap"><a class="btn" href="#">DEPOSIT</a></div>
    </div>
    <div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
      <div class="header-wrap">
        <div class="left">
          <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
          <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
        </div>
        <div class="right">
          <div class="title">INVOICE</div>
          <p>ID (#DM-11111)</p>
        </div>
      </div>
      <div class="info-wrap">
        <div class="item"><b>Invoice to:</b>
          <p>Client Email adress and Name</p>
        </div>
        <div class="item"><b>Invoice data:</b>
          <p>06.08.2022</p>
        </div>
      </div>
      <div class="table-info">
        <div class="tr">
          <div class="td"><b>Invoice ID</b></div>
          <div class="td"><b>Payment Method</b></div>
          <div class="td"><b>Description</b></div>
          <div class="td"><b>Status</b></div>
        </div>
        <div class="tr">
          <div class="td">DM-11111</div>
          <div class="td">Paypal</div>
          <div class="td">Social Media Marketing program</div>
          <div class="td"><span class="status c-green">PAID</span></div>
        </div>
      </div>
      <div class="table-total">
        <div class="tr">
          <div class="td"><b>Sub Total</b></div>
          <div class="td">2000$</div>
        </div>
        <div class="tr">
          <div class="td"><b>Total</b></div>
          <div class="td">2000$</div>
        </div>
      </div>
      <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
    </div>
    <script src="{% static '/js/scripts.min.js' %}"></script>
  </body>
</html>