{% extends 'base/base-regular-page.html' %}

{% block head_tags %}
{% if title %}
<title>{{ title }}</title>
{% else %}
<title>Rules</title>
{% endif %}
{% endblock head_tags %}

{% block text %}
<section class="section-text">
  <h1 class="inner center">Rules</h1>
  <p>By placing an order with DMSBULK, you automatically accept all the below-listed terms of services whether you read them or not.</p>
  <ul>
    <li>We reserve the right to change these terms of service without notice. You are expected to read all terms of service before placing every order to ensure you are up to date with any changes or any future changes.</li>
    <li>By accepting these Terms Of Service, you also agree to our Refund Policy.</li>
    <li>You will only use the DMSBULK website in a manner which follows all agreements made with other social sites on their individual Terms of Service page.</li>
    <li>DMBULK rates are subject to change at any time without notice. The payment/refund policy stays in effect in the case of rate changes.</li>
    <li><b>Disclaimer:</b> DMSBULK will not be responsible for any damages you or your business may suffer.</li>
    <li><b>Liabilities:</b> DMSBULK is in no way liable for any account block, suspension or penalties of any kind.</li>
    <li>DMSBULK will only be used to promote your social media handles.</li>
    <li>DMSBULK internal token is equivalent to 1$ and it’s automatically added to your account by 2% of spended money in order.</li>
    <li>You can use our service to promote any illegal business/product in case your data will be forwarded to certain authorities.</li>
  </ul>
  <h2 class="inner center">Refund Policy</h2>
  <p>Refund can be 	qmade only in one way if we can’t complete order, because of faced social media algorithm changing or we didn't fit in order complete time what is </p>
  <p>We do not give any guarantee in any services, except of course if we can not execute or complete your order, that goes without saying. In that case, we will replenish your balance to reflect this.</p>
  <p>All orders made are final and no refund or cancellation is possible. Please make order carefully. Of course, we're reasonable people and if there's a terrible type-o and you realize this minutes after placing the order, start a support ticket right away contacting us in email: dmsbulkteam@gmail.com or <a target="_blank" href="https://t.me/dmsbulk">telegram</a></p>
</section>
{% endblock text %}

{% block scripts %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "DMSbulk",
        "item": "/"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "DMSbulk rules",
        "item": "{{ request.get_host }}{% url 'rules' %}"
      }
    ]
  }
</script>
{% endblock scripts %}