{% extends 'base/base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}

{% block head_tags %}
  <title>Order Active</title>
{% endblock head_tags %}
<script src="https://www.paypal.com/sdk/js?client-id={{ client_id }}&currency=USD"></script>
{% block content %}
  <div class="page-container">
    {% include 'account/header.html' %}
    <main class="cabinet">
      <div class="container">
        <div class="grid-wrap">
          <div class="aside-wrapper">
            {% include 'account/nav.html' %}
          </div>
          <div class="content-wrapper">
            <section class="cabinet-nav">
              <ul>
                <li><a href="{% url 'order' %}">Order DMS</a></li>
                <li><a class="active" href="{% url 'order_active' %}">Active Order</a></li>
                <li><a href="{% url 'order_history' %}">History</a></li>
              </ul>
            </section>
            <section class="order-active-main">
              <div class="table-cabinet block-white">
                <div class="tr">
                  <div class="td"><b>Social Media</b></div>
                  <div class="td"><b>DMs Send</b></div>
                  <div class="td"><b>Date</b></div>
                  <div class="td"><b>Proof</b></div>
                </div>
                {% for order in orders %}
                  <div class="tr">
                    <div class="td">{{ forloop.counter }}. {{ order.order_calc.social_network }}</div>
                    <div class="td">
                      <div class="line-wrapper">
                        <div class="block-line">
                          {% if current_time >= order.sending_end_at %}
                            <div class="line {{ order.order_calc.social_network|lower }}" style="width: 100%"></div>
                          {% else %}
                            <div id="{{ order.order_calc.social_network|lower }}{{ forloop.counter }}" class="line {{ order.order_calc.social_network|lower }}"></div>
                          {% endif %}
                        </div>
                        {% if not order.scraping %}
                          <p>Scraping process</p>
                        {% elif order.scraping and not order.filtering %}
                          <p>Filtering process</p>
                        {% elif current_time >= order.sending_end_at %}
                          <p>{{ order.order_calc.amount }}/{{ order.order_calc.amount }} send</p>
                        {% else %}
                          <p>{{ order.time_from_sending_start_at|mul:order.send_messages_speed|intcomma }}/{{ order.order_calc.amount }} send</p>
                        {% endif %}
                      </div>
                    </div>
                    <div class="td">
                      <ul class="block-check-list">
                        <li {% if order.scraping %} class="done" {% endif %}>
                          <div class="ic">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Scraping</span>
                        </li>
                        <li {% if order.filtering %} class="done" {% endif %}>
                          <div class="ic active">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Filtering</span>
                        </li>
                        <li {% if current_time >= order.sending_end_at %} class="done" {% endif %}>
                          <div class="ic active">
                            <svg viewBox="0 0 13 13" width="13px">
                              <use xlink:href="{% static '/img/sprite.svg' %}#ic-check"></use>
                            </svg>
                          </div><span>Sending</span>
                        </li>
                      </ul>
                    </div>
                    <div class="td"><a
                      {% if order.screenshot_complete %}
                        href="{{ order.screenshot_complete.url }}"
                      {% else %}
                        class="disabled"
                      {% endif %}>Download</a><br><span class="small c-gray">(After done)</span></div>
                  </div>
                  {% if order.filtering %}
                    <script>
                      let amount{{ forloop.counter }} = '{{ order.order_calc.amount }}'

                      if (amount{{ forloop.counter }}.at(-1) == 'k') {
                        amount{{ forloop.counter }} = amount{{ forloop.counter }}.slice(0, amount{{ forloop.counter }}.length - 1)
                        amount{{ forloop.counter }} += '000'
                      } else if (amount{{ forloop.counter }}.at(-1) == 'm') {
                        amount{{ forloop.counter }} = amount{{ forloop.counter }}.slice(0, amount{{ forloop.counter }}.length - 1)
                        amount{{ forloop.counter }} += '000000'
                      }

                      procents = {{ order.time_from_sending_start_at|mul:order.send_messages_speed }} / (amount{{ forloop.counter }} / 100)

                      if (procents >= 100) {
                        document.getElementById('{{ order.order_calc.social_network|lower }}{{ forloop.counter }}').style.width = '100%'
                      } else {
                        document.getElementById('{{ order.order_calc.social_network|lower }}{{ forloop.counter }}').style.width = procents + '%'
                      }
                    </script>
                  {% endif %}
                {% endfor %}
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <div class="container">
      <footer class="footer-main cabinet">
        {% include 'base/footer.html' %}
      </footer>
      {% include 'popup/accept-cookies.html' %}
      {% include 'popup/arrow-up.html' %}
    </div>
  </div>
  {% include 'popup/instagram.html' %}
  {% include 'popup/discord.html' %}
  {% include 'popup/telegram.html' %}
  {% include 'popup/twitter.html' %}
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">DEPOSIT</a></div>
  </div>
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-green">PAID</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
  </div>
{% endblock content %}