{% extends 'base/base.html' %}
{% load static %}

{% block head_tags %}
  <title>Order DMS</title>
{% endblock head_tags %}

{% block content %}
  <div class="page-container">
    {% include 'account/header.html' %}
    <main class="cabinet">
      <div class="container">
        <div class="grid-wrap">
          <div class="aside-wrapper">
            {% include 'account/nav.html' %}
          </div>
          <div class="content-wrapper">
            <section class="cabinet-nav">
              <ul>
                <li><a class="active" href="{% url 'order' %}">Order DMS</a></li>
                <li><a href="{% url 'order_active' %}">Active Order</a></li>
                <li><a href="{% url 'order_history' %}">History</a></li>
              </ul>
            </section>
            <section class="order-dms-main">
              <h1 class="fz25 center">Pricing Calculator</h1>
              <div class="grid">
                <div class="social-btns">
                  <button class="button-social-circle active js-tab-btn" data-tab="instagram">
                    <svg viewBox="0 0 24 24" width="24px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-inst"></use>
                    </svg>
                  </button>
                  <button class="button-social-circle js-tab-btn" data-tab="twitter">
                    <svg viewBox="0 0 24 24" width="24px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-tw"></use>
                    </svg>
                  </button>
                  <button class="button-social-circle js-tab-btn" data-tab="discord">
                    <svg viewBox="0 0 24 24" width="24px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-d"></use>
                    </svg>
                  </button>
                  <button class="button-social-circle js-tab-btn" data-tab="telegram">
                    <svg viewBox="0 0 24 24" width="24px">
                      <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use>
                    </svg>
                  </button>
                </div>
                <div class="tab-content active" data-tab="instagram">
                  <div class="block-social-calculator block-white">
                    <div class="header-wrap">
                      <div class="ic"><img src="{% static '/img/ic-inst-grad.svg' %}" alt=""/></div><b>Instagram</b>
                      <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                        <svg viewBox="0 0 22 22" width="22px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="content-wrap">
                      <div class="top-wrap">
                        <p>Quantity</p>
                        <div class="label js-price-per-1k">&nbsp;</div>
                      </div>
                      <div class="range-wrap instagram">
                        <input class="js-range-instagram" type="text"/>
                      </div>
                      <div class="result-wrap instagram">
                        <div class="item">
                          <p>Amount</p>
                          <div class="val js-amount">&nbsp;</div>
                        </div>
                        <div class="item">
                          <p>Discount</p>
                          <div class="val js-percent">&nbsp;</div>
                        </div>
                        <div class="item">
                          <p>Total</p>
                          <div class="val js-price-per-amount">&nbsp;</div>
                        </div>
                      </div>
                      <div class="link-wrap"><a class="link js-popup" href="#popup-instagram">Learn more about process</a></div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" data-tab="twitter">
                  <div class="block-social-calculator block-white">
                    <div class="header-wrap">
                      <div class="ic twitter">
                        <svg viewBox="0 0 30 30" width="30px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-tw"></use>
                        </svg>
                      </div><b>Twitter</b>
                      <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                        <svg viewBox="0 0 22 22" width="22px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="content-wrap">
                      <div class="top-wrap">
                        <p>Quantity</p>
                        <div class="label js-price-per-1k">&nbsp;</div>
                      </div>
                      <div class="range-wrap twitter">
                        <input class="js-range-twitter" type="text"/>
                      </div>
                      <div class="result-wrap twitter">
                        <div class="item">
                          <p>Amount</p>
                          <div class="val js-amount">&nbsp;</div>
                        </div>
                        <div class="item">
                          <p>Discount</p>
                          <div class="val js-percent">&nbsp;</div>
                        </div>
                        <div class="item">
                          <p>Total</p>
                          <div class="val js-price-per-amount">&nbsp;</div>
                        </div>
                      </div>
                      <div class="link-wrap"><a class="link js-popup" href="#popup-twitter">Learn more about process</a></div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" data-tab="discord">
                  <div class="block-social-calculator block-white">
                    <div class="header-wrap">
                      <div class="ic discord">
                        <svg viewBox="0 0 30 30" width="30px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-d"></use>
                        </svg>
                      </div><b>Discord</b>
                      <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                        <svg viewBox="0 0 22 22" width="22px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="content-wrap">
                      <div class="top-wrap">
                        <p>Quantity</p>
                        <div class="label js-price-per-1k">&nbsp;</div>
                      </div>
                      <div class="range-wrap discord">
                        <input class="js-range-discord" type="text"/>
                      </div>
                      <div class="result-wrap discord">
                        <div class="item">
                          <p>Amount</p>
                          <div class="val js-amount">&nbsp;</div>
                        </div>
                        <div class="item">
                          <p>Discount</p>
                          <div class="val js-percent">&nbsp;</div>
                        </div>
                        <div class="item">
                          <p>Total</p>
                          <div class="val js-price-per-amount">&nbsp;</div>
                        </div>
                      </div>
                      <div class="link-wrap"><a class="link js-popup" href="#popup-discord">Learn more about process</a></div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" data-tab="telegram">
                  <div class="block-social-calculator block-white">
                    <div class="header-wrap">
                      <div class="ic telegram">
                        <svg viewBox="0 0 30 30" width="30px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-tg"></use>
                        </svg>
                      </div><b>Telegram</b>
                      <div class="ic-info js-tooltip" title="You can write the exact amount of messages you need, sample: 15000">
                        <svg viewBox="0 0 22 22" width="22px">
                          <use xlink:href="{% static '/img/sprite.svg' %}#ic-info"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="content-wrap">
                      <div class="top-wrap">
                        <p>Quantity</p>
                        <div class="label js-price-per-1k">&nbsp;</div>
                      </div>
                      <div class="range-wrap telegram">
                        <input class="js-range-telegram" type="text"/>
                      </div>
                      <div class="result-wrap telegram">
                        <div class="item">
                          <p>Amount</p>
                          <div class="val js-amount">&nbsp;</div>
                        </div>
                        <div class="item">
                          <p>Discount</p>
                          <div class="val js-percent">&nbsp;</div>
                        </div>
                        <div class="item">
                          <p>Total</p>
                          <div class="val js-price-per-amount">&nbsp;</div>
                        </div>
                      </div>
                      <div class="link-wrap"><a class="link js-popup" href="#popup-telegram">Learn more about process</a></div>
                    </div>
                  </div>
                </div>
                <div class="info-wrap">
                  <div class="blue-wrap">
                    <div class="title">Reminder!</div>
                    <p>After you have chosen the required amount of DMS, do not forget to replenish your balance in the <b>ADD FUNDS</b> section, after which you can continue to place an order. </p><br>
                    <p>You can replenish right now in two clicks by clicking the button below or go to the desired section <b>ADD FUNDS</b> yourself.</p>
                  </div>
                  <div onclick="addFundsButtonClick()" class="btn-wrap">
                    <a class="btn w100" href="{% url 'add_funds' %}">
                      <span>
                        Add Funds: <span class="js-price-amount">&nbsp;</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <form id="order_calc_form" method="post">
                {% csrf_token %}
                {{ form.social_network.as_hidden }}
                {{ form.amount.as_hidden }}
                {{ form.discount.as_hidden }}
                {{ form.total.as_hidden }}
              </form>
              <div class="continue-wrap"><button onclick="submitOrderCalcForm()" class="btn btn--continue w100">Continue</button></div>
              <script>
                const submitOrderCalcForm = () => {
                  const social_network = document.querySelector('.tab-content.active > .block-social-calculator.block-white > div > b').innerText

                  const amount = document.querySelector(`.result-wrap.${social_network.toLowerCase()} > div:nth-child(1) > div`).innerText
                  const discount = document.querySelector(`.result-wrap.${social_network.toLowerCase()} > div:nth-child(2) > div`).innerText
                  const total = document.querySelector(`.result-wrap.${social_network.toLowerCase()} > div:nth-child(3) > div`).innerText
                  
                  document.getElementById('id_social_network').value = social_network
                  document.getElementById('id_amount').value = amount
                  document.getElementById('id_discount').value = discount
                  document.getElementById('id_total').value = total

                  document.getElementById('order_calc_form').submit()
                }
              </script>
            </section>
          </div>
        </div>
      </div>
    </main>
    <div class="container">
      <footer class="footer-main cabinet">
        {% include 'base/footer.html' %}
      </footer>
      {% include 'popup/accept-cookies.html' %}
    </div>
  </div>
  {% include 'popup/instagram.html' %}
  {% include 'popup/discord.html' %}
  {% include 'popup/telegram.html' %}
  {% include 'popup/twitter.html' %}
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">DEPOSIT</a></div>
  </div>
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-green">PAID</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
  </div>
  <script src="{% static '/js/js/order/order-dms.js' %}"></script>
{% endblock content %}