{% extends 'base/base.html' %}
{% load static %}

{% block head_tags %}
  <title>Order DMS</title>
{% endblock head_tags %}

{% block content %}
  <div class="page-container">
    {% include 'base/header.html' %}
    <main class="cabinet">
      <div class="container">
        <div class="grid-wrap">
          <div class="aside-wrapper">
            {% include 'account/nav.html' %}
          </div>
          <div class="content-wrapper">
            <section class="cabinet-nav">
              <ul>
                <li><a class="active" href="{% url 'order' %}">Order DMS</a></li>
                <li><a href="{% url 'order_active' %}">Active Order</a></li>
                <li><a href="{% url 'order_history' %}">History</a></li>
              </ul>
            </section>
            <section class="order-dms-main">
              <div class="check-wrap block-white">
                <h2 class="fz25">Check</h2>
                <div class="text-logo-wrap">
                  <div class="text-wrap">
                    <div class="item"><b>You choosed: </b>
                      <p>
                        {{ social_network }} {{ amount }} DMs
                      </p>
                    </div>
                    <div class="item"><b>Total price: </b>
                      <p class="tbl"><span>{{ total_price }}</span>
                        <span class="ic">
                          {% if not request.user.dms_tokens %}
                          Available
                          {% endif %}
                          {{ request.user.dms_tokens }}
                          <img src="{% static 'img/ic-coin-dm.png' %}" alt="">
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="logo-wrap"><img src="{% static '/img/logo.svg' %}" alt=""></div>
                </div>
              </div>
              <div class="info-wrapper block-white">
                <h2 class="fz25 center">Provide Campaign Information</h2>
                <form> 
                  <div class="item">
                    <h3 class="fz20">1. Targets/Competitors Submited</h3>
                    <div class="grid-wrap">
                      <div class="input-wrap">
                        <textarea id="targets_or_competitors_submited" placeholder="Type here..." maxlength="2000"></textarea>
                      </div>
                      <div class="text-wrap">
                        <h3 class="fz20">Hint</h3>
                        <p>Please provide targets/competitors with auditory we should send Mass DMs. You can write links to profiles, logins or hashtags, necessarily ONLY 1 per line!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <h3 class="fz20">2. Filtering</h3>
                    <div class="grid-wrap col-2">
                      <div class="btn-checkbox-wrap">
                        <label class="block-checkbox-btn">
                          <input id="use_our_default_filtering" type="checkbox">
                          <div class="button">Use our default filtering</div>
                        </label>
                        <label class="block-checkbox-btn">
                          <input id="not_use_any_filtering" type="checkbox">
                          <div class="button">Not use any filtering</div>
                        </label>
                      </div>
                      <div class="text-wrap">
                        <h3 class="fz20">Hint</h3>
                        <p>We will use default filtering to avoid inactive auditory depends on Social Media posibilities. If your targets have not much auditory then choose Not use filtering, because remember that after filtering we can avoid over 30% of auditory and you will need to provide new targets. </p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <h3 class="fz20">3. Message</h3>
                    <div class="grid-wrap">
                      <div class="input-wrap">
                        <div class="textarea-counter-wrap">
                          <textarea id="message" placeholder="Type here..." maxlength="1000" class="js-textarea-max"></textarea>
                          <div class="counter"><span class="current">0</span><span class="max">/ 1000</span></div>
                        </div>
                      </div>
                      <div class="text-wrap">
                        <h3 class="fz20">Hint</h3>
                        <p>Provide please message that we will use for sending, remember to check if you have max 1000 characters in Instagram, 140 characters in Twitter, 4096 characters in Telegram, 2000 characters in Discord otherwise message will be not able to send. You can use any emoji, also include links or logins depends on your needs. Recheck message before submit to be sure all writen correctly.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <h3 class="fz20">4. Attach in Message</h3>
                    <div class="grid-wrap">
                      <div class="input-wrap">
                        <div class="textarea-counter-wrap">
                          <textarea id="attach_in_message" placeholder="Type here..." maxlength="600" class="js-textarea-max"></textarea>
                          <div class="counter"><span class="current">0</span><span class="max">/ 600</span></div>
                        </div>
                      </div>
                      <div class="text-wrap">
                        <h3 class="fz20">Hint</h3>
                        <p>Please provide link to your profile if you want to attach profile, link to post (if its Instagram, that we could send in message post attached), link to website, if you want to attach exactly website. In Discord and Telegram you can provide gifs or photos (only with links). </p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <h3 class="fz20">5. Additional Information </h3>
                    <div class="grid-wrap">
                      <div class="input-wrap">
                        <div class="textarea-counter-wrap">
                          <textarea id="additional_info" type="textarea" placeholder="Type here..." maxlength="600" class="js-textarea-max"></textarea>
                          <div class="counter"><span class="current">0</span><span class="max">/ 600</span></div>
                        </div>
                      </div>
                      <div class="text-wrap">
                        <h3 class="fz20">Hint</h3>
                        <p>If you need to forward us any other additional information, for example time when start campaign (we will try to do that in time) or any other information which was not included before in form, please write it here!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <h3 class="fz20">6. Your Contact details </h3>
                    <div class="grid-wrap col-2">
                      <div class="input-wrap">
                        <input id="contact_details" placeholder="Type here...">
                      </div>
                      <div class="text-wrap">
                        <h3 class="fz20">Hint</h3>
                        <p>Please provide your contact details to Telegram, Skype or Discord that we could contact you if there will be any additional questions about your campaign.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="btn-wrap">
                      <a href="{% url 'order_step_tree' %}">
                        <button onclick="saveOrderCompaignInfoInLocalStorage()" type="button" class="btn">Submit & Continue</button>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <div class="container">
      <footer class="footer-main cabinet">
        {% include 'base/footer.html' %}
      </footer>
      {% include 'popup/accept-cookies.html' %}
    </div>
  </div>
  {% include 'popup/instagram.html' %}
  {% include 'popup/discord.html' %}
  {% include 'popup/telegram.html' %}
  {% include 'popup/twitter.html' %}
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-awaiting">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="./img/logo.svg" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-orange">AWAITING PAYMENT</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">DEPOSIT</a></div>
  </div>
  <div class="mfp-hide popup popup--invoice" id="popup-invoice-paid">
    <div class="header-wrap">
      <div class="left">
        <div class="logo-wrap"><img src="./img/logo.svg" alt=""/></div>
        <p>Social Media marketing service <br>SIA ”OFFERBOOSTED” <br>dmsbulkteam@gmail.com</p>
      </div>
      <div class="right">
        <div class="title">INVOICE</div>
        <p>ID (#DM-11111)</p>
      </div>
    </div>
    <div class="info-wrap">
      <div class="item"><b>Invoice to:</b>
        <p>Client Email adress and Name</p>
      </div>
      <div class="item"><b>Invoice data:</b>
        <p>06.08.2022</p>
      </div>
    </div>
    <div class="table-info">
      <div class="tr">
        <div class="td"><b>Invoice ID</b></div>
        <div class="td"><b>Payment Method</b></div>
        <div class="td"><b>Description</b></div>
        <div class="td"><b>Status</b></div>
      </div>
      <div class="tr">
        <div class="td">DM-11111</div>
        <div class="td">Paypal</div>
        <div class="td">Social Media Marketing program</div>
        <div class="td"><span class="status c-green">PAID</span></div>
      </div>
    </div>
    <div class="table-total">
      <div class="tr">
        <div class="td"><b>Sub Total</b></div>
        <div class="td">2000$</div>
      </div>
      <div class="tr">
        <div class="td"><b>Total</b></div>
        <div class="td">2000$</div>
      </div>
    </div>
    <div class="btn-wrap"><a class="btn" href="#">Download</a></div>
  </div>
  <script src="{% static '/js/js/order-dms.js' %}"></script>
{% endblock content %}